<div class="cards-list">

    <div class="card 1" (click)="gotoProjectSite()">
        <div class="card_image">
            <img src="assets/icons/site.png" />
        </div>
        <div class="card_title">
            <p>Project Site</p>
        </div>
    </div>

    <div class="card 2" (click)="gotoProjectStore()">
        <div class="card_image">
            <img src="assets/icons/store.png" />
        </div>
        <div class="card_title">
            <p>Project Store</p>
        </div>
    </div>

    <div class="card 1" (click)="gotoUserManagement()">
        <div class="card_image">
            <img src="assets/icons/user-management.png" />
        </div>
        <div class="card_title">
            <p>User Management</p>
        </div>
    </div>

</div>