.createrequisition-section {
    margin: 12px 12px;
    padding: 0px 0px;
    width: auto;
    position: relative;
}

.creatematerial {
    margin: 0px 0px;
    padding: 23px 15px;
    background: #f4f4f4;
    width: 100%;
    position: relative;
}

.creatematerial h3 {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 20px;
    color: #666666;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
    width: 100%;
}

.addressform {
    margin-top: 16px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.addressform .form-control {
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #9D9D9D;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    appearance: auto;
}

.addressform .form-control2 {
    width: 180px;
    padding: 12px 19px;
    font-size: 16px;
}

.form-control::placeholder {
    color: #9D9D9D;
    opacity: 1;
}

.other-texr {
    margin-left: 97px;
}

.other-texr a {
    color: #3F65FF;
    text-decoration: none;
}

.addressform label {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 14px;
    color: #666;
    font-weight: 400;
    margin: 0px 0px;
    vertical-align: middle;
    text-align: right;
    min-width: 135px;
    word-wrap: break-word;
}

.checkgroup .form-check-inline label {
    margin: 4px 0px;
    font-size: 14px;
}

.checkgroup .form-check-inline label a {
    color: #EB4747;
    text-decoration: none;
}

.checkgroup .form-check-inline label a:hover {
    color: #EB4747;
    text-decoration: underline;
}

.invalid-feedback {
    display: block;
}

.custom-file .custom-file-input {
    background: #fff;
    margin: 0px 0px;
    padding: 12px 24px;
    border-radius: 42px;
    border: #dee2e6 1px solid;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #9D9D9D;
}

.custom-file .custom-file-input {
    background: #fff;
    margin: 0px 0px;
    padding: 6px 7px;
    border-radius: 0px;
    border: #dee2e6 1px solid;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #9D9D9D;    
    max-width: 232px;
}

.invalid-feedback {
    // position: absolute;
    top: 24px;
    right: -12px;
    font-size: 10px;
}