<form role="form" [formGroup]="addcompanyForm" (ngSubmit)="scrollToFirstInvalidControl()">

  <div class="work-card1">
    <div class="work-header1">General Details</div>
    <div class="flex-div">
  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.companyname != '' }">
    <input type="text" class="form-control" id="role" formControlName="name" [(ngModel)]="addCompany.companyname"
      [ngClass]="displayFieldCss(addcompanyForm,'name')">
      <label class="floating-label">Enter Company Name <span class="asterisk">*</span></label>

    <div class="required" *ngIf="isFieldValid(addcompanyForm,'name')">
      <span class="text-danger" *ngIf="addcompanyForm.get('name')?.errors?.['required']">Company Name is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.partyaddress != '' }">
    <textarea class="form-control" id="role" formControlName="party_address"
      [(ngModel)]="addCompany.partyaddress"></textarea>
    <label class="floating-label">Enter Party Address</label>
  </div>
  <!-- <div class="mb-3" [ngClass]="{ 'float-now': addCompany.leadmembername != '' }">
    <input type="text" class="form-control" id="role" formControlName="lead_member_name"
      [(ngModel)]="addCompany.leadmembername" [ngClass]="displayFieldCss(addcompanyForm,'lead_member_name')">
    <label class="floating-label">Enter Lead Member Name <span class="asterisk">*</span></label>

    <div class="required" *ngIf="isFieldValid(addcompanyForm,'lead_member_name')">
      <span class="text-danger" *ngIf="addcompanyForm.get('lead_member_name')?.errors?.['required']">Lead Member Name is
        required</span>
    </div>
  </div> -->

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.pannumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="pan" [(ngModel)]="addCompany.pannumber"
      (keyup)="PANupCase($event)" maxlength="10" [ngClass]="displayFieldCss(addcompanyForm,'pan')">
    <label class="floating-label">Enter PAN No.</label>
    <div class="required" *ngIf="addcompanyForm.get('pan')?.errors?.['pattern']">
      <span class="text-danger">Valid PAN is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.gstnumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="gst" [(ngModel)]="addCompany.gstnumber"
    [ngClass]="displayFieldCss(addcompanyForm,'gst')">
    <label class="floating-label">Enter GST No.</label>
    <div class="required" *ngIf="addcompanyForm.get('gst')?.errors?.['pattern']">
      <span class="text-danger">Valid GST is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.emailid != '' }">
    <input type="text" class="form-control" id="role" autocomplete="off" formControlName="email"
      [(ngModel)]="addCompany.emailid" [ngClass]="displayFieldCss(addcompanyForm,'email')">
    <label class="floating-label">Enter Email Id</label>
    <div class="required" *ngIf="addcompanyForm.get('email')?.errors?.['pattern']">
      <span class="text-danger">Valid Email is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.phonenumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="phone" [(ngModel)]="addCompany.phonenumber"
      numbersOnly pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" minlength="4" maxlength="10"
      [ngClass]="displayFieldCss(addcompanyForm,'phone')">
    <label class="floating-label">Enter Phone No.</label>
    <div class="required" *ngIf="addcompanyForm.get('phone')?.errors?.['pattern']">
      <span class="text-danger">Valid Phone is required</span>
    </div>
  </div>
    </div>

    <div class="work-header1">Technical Eligibilities</div>
    <div class="flex-div">
      <div class="mb-3" [ngClass]="{ 'float-now': addCompany.threshold != '' }">
        <input type="text" class="form-control" id="role" formControlName="available_threshold"
          [(ngModel)]="addCompany.threshold">
        <label class="floating-label">Enter Available Threshold (in Crs.)</label>
      </div>

      <div class="mb-3" [ngClass]="{ 'float-now': addCompany.similarwork != '' }">
        <input type="text" class="form-control" id="role" formControlName="value_of_similar_works"
          [(ngModel)]="addCompany.similarwork">
        <label class="floating-label">Enter Value of Similar Works (in Crs.)</label>
      </div>

      <div class="mb-3" [ngClass]="{ 'float-now': addCompany.spanofbridge != '' }">
        <input type="text" class="form-control" amountNumber autocomplete="off" id="role" formControlName="maximum_span_length_of_bridge_avail"
          [(ngModel)]="addCompany.spanofbridge">
        <label class="floating-label">Enter Maximum Span Length of Bridge Available (in Mtr)</label>
      </div>
    </div>

    <div class="work-header1">Financial Eligibilities</div>
    <div class="flex-div">
      <div class="mb-3" [ngClass]="{ 'float-now': addCompany.anuualturnover != '' }">
        <input type="text" class="form-control" id="role" formControlName="average_annual_turn_over"
          [(ngModel)]="addCompany.anuualturnover">
        <label class="floating-label">Enter Average Annual Turn Over (in Crs.)
          (last 5 years)</label>
      </div>

      <div class="mb-3" [ngClass]="{ 'float-now': addCompany.networth != '' }">
        <input type="text" class="form-control" id="role" formControlName="net_worth" [(ngModel)]="addCompany.networth">
        <label class="floating-label">Enter Net Worth (in Crs.)</label>
      </div>
    </div>
  
  <button type="submit" class="btn btn-primary" (click)="addnewCompany()">ADD</button>
  </div>
</form>