.main-container {
  margin: 10px;
}

th img {
  cursor: pointer;
}

.component-header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 10px;

  h2 {
    color: #55A4FF;
    font-size: 16px;
  }

  .action-button-container {
    //position: absolute;
    //right: 0;
    display: flex;
    justify-content: flex-end;
  }

  button {
    background-image: linear-gradient(to right, #40d4e6, #6675fe);
    font-weight: initial;
    padding: 7px 26px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;

    min-width: 150px;


    img {
      height: 10px;
      width: 10px;
      float: right;
      margin-left: 7px;
    }
  }
}

.component-body {
  table {
    width: 100%;
    padding-bottom: 35px;

    th {
      background-color: #5577ff;
      color: white;
      font-size: 13px;
      padding: 10px;
      font-weight: 500;
      line-height: 15px;
      vertical-align: middle;

      img {
        height: 15px;
        margin-left: 5px;
        width: 15px;
        float: right;
      }
    }

    td,
    th {
      border: 1px solid #D9D9D9;
    }

    td {
      font-size: 12px;
      padding: 5px 10px;
      font-weight: 400;
      min-height: 32px;
    }

    tr:nth-child(odd) {
      background: #f8f8f8;
    }
  }
}

.actionimage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100px;

  img {
    max-width: 20px;
    cursor: pointer;
  }

  .status {
    max-width: 30px;
  }
}

.iconcontainer {
  display: flex;

  .active-icon {
    margin-right: 10px;
  }

  img {
    max-width: 15px;
    margin-right: 5px;
  }
}

.contact-card {
  display: flex;
  align-items: center;

  img {
    max-width: 40px;
    margin: 10px;
  }

  h1 {
    font-size: 12px;
  }

  .iconcontainer {
    img {
      max-width: 10px !important;
      margin: 0;
    }
  }
}

.dropdown-menu.show {
  padding: 0;
  box-shadow: 0px 0px 10px 0px rgb(136 136 136 / 46%);
  border: none;
  overflow-y: scroll;
  max-height: calc(100vh - 210px);

  li {
    border-bottom: 1px solid #b8b8b8;
    width: 100%;
    padding: 5px 0px 5px 40px;
    overflow: hidden;
    font-size: 12px;
    color: #666666;
  }

  li:last-child {
    border-bottom: none;
  }
}

.modal-content {

  .modal-header,
  .modal-body {
    text-align: center;
    border: none;
  }

  .modal-header {
    margin-left: 34%;
    display: none;
  }

  .modal-body {
    color: #7f7f7f;
    font-size: 17px;
    padding-top: 30px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    border: none;
    margin-bottom: 20px;

    button {
      background-color: #01d50a;
      color: white;
      border: none;
      border-radius: 18px;
      padding: 2px 26px;
      margin: 0 5px;
    }

    .btn-primary {
      background-color: #eb4747;
    }
  }
}

.modal-dialog {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.modal-dialog-centered {
  display: block !important;
}

.scrollable-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 185px;
  width: calc(100% - 482px);

  td {
    min-width: 185px;
    min-height: 70px;
    z-index: inherit;
    width: fit-content;
  }

  th {
    min-width: 185px;
    width: fit-content;
  }

  .posion-fixed-left {
    position: absolute;
    left: 10px;
  }

  .posion-fixed-right.second {
    right: 161px;
  }

  .posion-fixed-right {
    position: absolute;
    right: 10px;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5577ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5577ff;
  border-radius: 10px;
}

::-webkit-scrollbar-button:single-button:increment:hover {
  border-color: #9cb0fde1 transparent transparent transparent;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 16px;
  width: 1em;
  -webkit-box-shadow: none;
}

.no-brdr {
  padding: 0px 10px !important;
  border-bottom: 1px solid #d9d9d9 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: min-content !important;
  background-color: white;
}

.pd-0 {
  padding: 0 !important;
}

.pd-0 table tr:last-child td {
  border-bottom: 0px !important;
}

.bsline-align tbody,
td,
tfoot,
th,
thead,
tr {
  vertical-align: middle;
}

.main-body-container table td {
  text-wrap: nowrap !important;
}

.table_des {
  height: 51px;
}

.component-header h2 {
  margin: 0;
}

.table-responsive {
  //max-height: 550px;

  thead {
    position: sticky;
    top: 0;
  }
  
  //.sticky_header{
  //  position: sticky;
  //  top: 0;
  //}
}

//dropdown design
.hover_dropdown{
  position: relative;
  font-weight: bold;
  font-size: 24px;
  border: 5px solid #5494db;
  padding: 10px 15px;
  background-color: #F7FFF7;
  width: 15vw;
  margin: 2em auto;
  text-align: center;
}


.hover_dropdown-top::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 50%;
  top: 0;
  border: 15px solid transparent;
  border-top: 0;
  border-bottom: 15px solid #5494db;
  transform: translate(-50%, calc(-100% - 5px));
}

.offcanvas-header h5 {
  font-size: 16px;
  margin: 0;
}

textarea.form-control {
  height: 38px!important;
}
////////////////////////////