.createrequisition-section {
	margin: 12px 12px;
	padding: 0px 0px;
	width: auto;
	position: relative;
   }
.eye-docicon{
	width: 13px;
}

.component-header {
	height: auto !important;
	margin-bottom: 10px;
}
.main-body-container table th {
	background-color: #5577ff;
	color: white;
	font-size: 14px !important;
	padding: 10px !important;
	font-weight: 600 !important;
	line-height: 15px !important;
}