
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <div class="createtable-section table-responsive">
        <table class="text-nowrap">
            <tr>
                <th>Sr.&nbsp;No</th>
                <th>Item Group</th>
                <th>Item Sub Group</th>
                <th>Item</th>
                <th>Qty. <span class="asterisk">*</span></th>
                <th>Weight <span class="asterisk">*</span></th>
                <th>Value <span class="asterisk">*</span></th>                
                <th>Remarks</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr class="">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-middle"><a [ngClass]="{ 'disabled': disabledEdit }" (click)="addItem()" type="submit" class="tablebtn-save">ADD <i class="fa" aria-hidden="true"><img src="assets/img/vector-add.png" alt=""></i></a></td>
            </tr>
            <tr class="tablebg" *ngFor="let item of form.items; let i = index">
                <td>#{{i+1}}</td>
               
                <td style=" min-width: 150px; ">
                    <div class="tablegroup">
                        <label>Item Group</label>
                        <ng-select [disabled]="disabledEdit" class="" name="requested_material_group{{i+1}}" [(ngModel)]="form.items[i].requested_material_group" required #requested_material_group="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material_group.errors }" (change)="typeChange(form.items[i].requested_material_group,i)">
                            <ng-option *ngFor="let materialGroup of masterlist" [value]="materialGroup.id">{{materialGroup.name}}</ng-option>
                        </ng-select>
                    </div>  
                </td>
                <td style=" min-width: 150px; ">
                    <div class="tablegroup">
                        <label>Item Sub Group</label>
                        <ng-select [disabled]="disabledEdit" class="" name="requested_material_sub_group{{i+1}}" [(ngModel)]="form.items[i].requested_material_sub_group" required #requested_material_sub_group="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material_sub_group.errors }" (change)="subTypeChange(form.items[i].requested_material_sub_group, i)">
                            <ng-option *ngFor="let subGroup of form.items[i].MaterilSubGroupList" [value]="subGroup.id">{{subGroup.name}}</ng-option>
                        </ng-select>
                    </div>
                </td>
                <td style=" min-width: 150px; ">
                    <div class="tablegroup">
                        <label>Item</label>
                        <ng-select [disabled]="disabledEdit" class="" name="item{{i+1}}" [(ngModel)]="form.items[i].item" required #item="ngModel" [ngClass]="{ 'is-invalid': f.submitted && item.errors }" (change)="setMaterialMasterData(i,false)" (change)="changeItem(i)">
                            <ng-option *ngFor="let masterData of form.items[i].MaterilFilterList" [value]="masterData.id">{{masterData.material_name}}</ng-option>
                        </ng-select>
                    </div>
                </td>
                <td>
                    <div class="tablegroup">
                        <input type="text" [disabled]="disabledEdit" class="form-control" id="data" placeholder="" amountNumber pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="quantity{{i+1}}" [(ngModel)]="form.items[i].quantity" required #quantity="ngModel" [ngClass]="{ 'is-invalid': f.submitted && quantity.errors }">

                        <div class="mb-3" [ngClass]="{ 'float-now': form.items[i].unit != '' }">
                            <select class="form-control" name="unit{{i+1}}" [(ngModel)]="form.items[i].unit" #unit="ngModel" disabled>
    
                                <option *ngFor="let unit of uomList; let i = index" value="{{unit.id}}">{{unit.symbol}}</option>
                            </select>
                            <label class="floating-label-select">Unit
                                <!-- <span class="asterisk">*</span> -->
                            </label>
                        </div>
                    </div>    
                </td>   
                <td>
                    <div class="tablegroup">
                        <input type="text" [disabled]="disabledEdit" class="form-control" id="data" placeholder="" amountNumber pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="weight{{i+1}}" [(ngModel)]="form.items[i].weight" required #weight="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weight.errors }">

                        <div class="mb-3" [ngClass]="{ 'float-now': form.items[i].weight_uom != '' }">
                            <select class="form-control" name="weight_uom{{i+1}}" [(ngModel)]="form.items[i].weight_uom" #weight_uom="ngModel">
    
                                <option *ngFor="let unit of uomList; let i = index" value="{{unit.id}}">{{unit.symbol}}</option>
                            </select>
                            <label class="floating-label-select">Unit
                                <!-- <span class="asterisk">*</span> -->
                            </label>
                        </div>
                    </div>    
                </td>  
                <td>
                    <div class="tablegroup">
                        <input type="text" [disabled]="disabledEdit" class="form-control" id="data" placeholder="" amountNumber pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="value{{i+1}}" [(ngModel)]="form.items[i].value" required #value="ngModel" [ngClass]="{ 'is-invalid': f.submitted && value.errors }">
                    </div>    
                </td>            
                <td>
                    <div class="tablegroup">      
                        <input [disabled]="disabledEdit" type="text" class="form-control" id="data" placeholder="" name="remarks{{i+1}}" [(ngModel)]="form.items[i].remarks"  #remarks="ngModel" [ngClass]="{ 'is-invalid': f.submitted && remarks.errors }">
                    </div>   
                  </td>
                <td>
                    <div class="tablegroup">
                        <label class="text-capitalize">{{item.item_status}}</label>
                    </div>
                </td>
                <td class="align-middle">
                    <a (click)="delete(i)" [ngClass]="{ 'disabled': disabledEdit }" type="submit" class="vector-delete">DEL <i class="fa" aria-hidden="true"><img src="assets/img/vector-delete.png" alt=""></i></a>
                </td>
                  
            </tr>
            <tr *ngIf="form.items.length==0">
                <td colspan="10" class="text-center">No Item Added Yet</td>
                <td *ngIf="scope=='add'"></td>
            </tr>
            <button hidden  #submitButton="" type="submit">Save</button>
        </table>
    </div>
    </form>
    