<div class="login-form" *ngIf="activefrom == 'resetPassword'">
    <h2>Reset Your Password</h2>
    <strong>Please enter your registered email address to receive a link</strong>
    <div>

        <form role="form" [formGroup]="resetpassForm">
            <div class="mb-3 individualinput resetemail">
                <label for="exampleInputEmail1" class="form-label"><img src="assets/login/email-icon.png"
                        alt=""></label>
                <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp"
                    [ngClass]="displayFieldCss(resetpassForm,'email')" placeholder="Enter Email Address" value="">
                <div class="required" *ngIf="isFieldValid(resetpassForm,'email')">
                    <span class="text-danger" *ngIf="resetpassForm.get('email')?.errors?.['required']">Email is required
                    </span>
                    <span class="text-danger" *ngIf="resetpassForm.get('email')?.errors?.['pattern']">Enter a valid
                        email address </span>
                </div>
            </div>


            <div class="form-action">
                <button type="submit" class="btn btn-primary" (click)="enterOTP()">SEND</button>
            </div>
        </form>
    </div>
    <a class="hover" (click)="backToLogin()">Back to Login?</a>
</div>

<div class="login-form" *ngIf="activefrom == 'enterOTP'">
    <h2>Reset Your Password</h2>
    <h6>We just Sent an email to "{{this.resetpassForm.value.email}}"</h6>
    <p class="checkmail">
        Click the secure link we sent you to reset your password. <br>
        If you did not recieve an email check your spam folder
    </p>
    <a class="hover" (click)="backToLogin()">Back to Login?</a>
</div>

<!-- Link Expired Section -->
<div class="login-form" *ngIf="activefrom == 'linkexpired'">
    <h2 class="text-danger">Link Expired !</h2>
    <h6>Your link has been expired or invalid. <br>
        Please try with a new link
    </h6>
    <a class="hover" (click)="goToForgotpassword()">Click here for new link?</a>
</div>

<div class="login-form" *ngIf="activefrom == 'retakePassword'">
    <h2>Reset Your Password</h2>
    <form role="form" [formGroup]="newpassForm">
        <div class="mb-3 individualinput">
            <label for="exampleInputPassword1" class="form-label">
            <img src="assets/login/secure-lock-icon.png" alt="">
            </label>
            <input [type]="showloginpassword ? 'text' : 'password'" class="form-control" formControlName="newpassword"
                [ngClass]="displayFieldCss(newpassForm,'newpassword')" id="exampleInputPassword1"
                placeholder="New Password">
            <label for="exampleInputPassword1" (click)="togglePasswordView()" class="form-label clickable">
            <img src="assets/login/closed-eye-icon.png" *ngIf="showloginpassword"  alt="">
            <img src="assets/login/secure-lock-icon.png" *ngIf="!showloginpassword" alt="">
            </label>
            <div class="required2" *ngIf="isFieldValid(newpassForm,'newpassword')">
                <span class="text-danger" *ngIf="newpassForm.get('newpassword')?.errors?.['required']">Password is
                    required</span>
                <span class="text-danger" *ngIf="newpassForm.get('newpassword')?.errors?.['pattern']">Enter a strong
                    password (length should be in between 8 to 16 characters)</span>
            </div>
        </div>

        <div class="mb-3 individualinput">
            <label for="exampleInputPassword1" class="form-label"><img src="assets/login/secure-lock-icon.png"
                    alt=""></label>
            <input [type]="showloginpassword2 ? 'text' : 'password'" class="form-control"
                formControlName="confirmpassword" [ngClass]="displayFieldCss(newpassForm,'confirmpassword')"
                id="exampleInputPassword1" placeholder="Confirm New Password">
            <label for="exampleInputPassword1" (click)="togglePasswordView2()" class="form-label clickable">
                <img src="assets/login/closed-eye-icon.png" *ngIf="showloginpassword2"  alt="">
                <img src="assets/login/secure-lock-icon.png" *ngIf="!showloginpassword2" alt="">
            </label>
            <div class="required2" *ngIf="isFieldValid(newpassForm,'confirmpassword')">
                <span class="text-danger" *ngIf="newpassForm.get('confirmpassword')?.errors?.['required']">Password is
                    required</span>
                <span class="text-danger" *ngIf="newpassForm.get('confirmpassword')?.errors?.['pattern']">Enter a strong
                    password (length should be in between 8 to 16 characters)</span>
            </div>
        </div>

        <div class="form-action">
            <button type="submit" class="btn btn-primary" (click)="saveNewPassword()">SUBMIT</button>
        </div>
    </form>
</div>

<div class="login-form success-form" *ngIf="activefrom == 'passwordUpdated'">
    <form>
        <div class="successimg">
            <img src="assets/login/approved-white.png" alt="">
        </div>
        <h4>Password Reset Successfully</h4>
        <p>Continue to <span class="clickable" (click)="proceedtoLogin()">Login?</span></p>

    </form>
</div>