<div class="survey-content-main">
    <div class="survey-header">
        <h1>Other Details</h1>
        <button>SKIP NOW</button>
    </div>
    <div class="survey-body">
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" id="name"  placeholder="Enter Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email"  placeholder="Email ID">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="phone"  placeholder="Phone Number">
            </div>
            
            <div class="mb-3">
                <input type="text" class="form-control" id="designation"  placeholder="Designation">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Role</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>   
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Address" rows="2"></textarea>
            </div>
            <div class="flex-div">
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>State</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div> 
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>City</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div> 
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Genger</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
            </div> 
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Department</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div> 
            <div class="mb-3">
                <input type="text" class="form-control" id="phone"  placeholder="Aadhar Number">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="phone"  placeholder="PAN Number">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Marital Status</option>
                    <option value="1">Married</option>
                    <option value="2">Un Married</option>
                    <option value="3">Sheparated</option>
                </select>
            </div> 
            <div class="mb-3">
                <input type="text" class="form-control" id="phone"  placeholder="Blood Group">
            </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="phone"  placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="phone"  placeholder="Confirm Password">
            </div>
            <div class="mb-3 fileUpload">
                <div class="file btn btn-lg btn-primary">
                    <span><img src="assets/icons/upload.png" alt=""></span>
                    Upload Profile Picture
                    <input type="file" name="file"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">ADD</button>
            <button type="button" class="btn btn-primary non-active-btn" (click)="GoBack()">BACK</button>
        </form>
    </div>
</div>