.alert table {
    color: #000;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    background-color: transparent;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.alert table td {
    padding: 1px 5px 1px 5px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d2d6de;
    border-left: 1px solid #d2d6de;
}
.error-valid {
    font-weight: normal;
    font-size: 11px;
    color: #F80003;
}
.btnClass{
    margin-top: 10px;
    button{
        margin: 5px;
    }
}

.borderHide{
    border: none !important;
    padding: 0;
}




.adform {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	align-items: center;
}



.adform label {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 14px;
    color: #666;
    font-weight: 400;
    margin: 0px 10px 10px 0px;
    text-align: right;
    width: 30%;
    vertical-align: middle;
    }




.adform .form-control {
        display: block;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px 8px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        color: #9D9D9D;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 0px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: relative;
        appearance: auto;
        margin: 0px 0px 10px 0px;
        }

.selected-list .c-btn {
            display: block;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            padding: 8px 8px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            color: #9D9D9D;
            appearance: none;
            background-color: var(--bs-body-bg);
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: 0px !important;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            position: relative;
            appearance: auto;
            margin: 0px 0px 10px 0px;
            }
    



.tabletd {
           font-size: 12px;
           line-height: 15px;
           margin: 20px 0px;
           padding: 0px;
            }

.alert table td { padding: 20px 7px; }



.form-control {
	display: block;
	width: 90%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px 8px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #9D9D9D;
	appearance: none;
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: 0px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	position: relative;
	appearance: auto;
	margin: 5px 20px 10px 20px;
}



.srch {
	background-image: linear-gradient(to right, #40d4e6, #6675fe);
	font-weight: initial;
	padding: 0px 16px;
	border-radius: 4px;
	border: none;
	color: white;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	align-items: baseline;
	max-width: 83px;
	text-decoration: none;
}


.save {
	background-image: linear-gradient(to right, #40d4e6, #6675fe);
	font-weight: initial;
	padding: 0px 16px;
	border-radius: 4px;
	border: none;
	color: white;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	align-items: baseline;
	max-width: 83px;
	text-decoration: none;
    margin: 0px auto;
}