<div class="container">
    <div class="row align-items-end">

        <div class="col-lg-4 col-md-4 col-4">
            <div class="adform">
                <label for="project">Project</label>
                <select id="sel1" class="form-control" [(ngModel)]="projectId"
                    (change)="getChainageDataForCalculations($event)">
                    <option value="" disabled>-- select --</option>
                    <option *ngFor="let project of projectList" [value]="project.id">
                        {{project.project_data[1].value}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-4 numbers-box" *ngIf="projectId">
            <span class="number">1</span>
            <span class="number">2</span>
            <span class="number">3</span>
            <span class="number">4</span>
            <span class="number">5</span>
        </div>

        <div class="col-lg-4 col-md-4 col-4 d-flex justify-content-end" *ngIf="projectId">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datewisebudget">Add
                New Budget</button>
        </div>

    </div>
</div><br>

<div class="modal fade" id="datewisebudget" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="date">Select Date:</label>
                    <!-- <input type="date" class="form-control" id="date" [(ngModel)]="selectedDate"> -->
                    <input type="text" [(ngModel)]="selectedDate" placeholder="dd/mm/yyyy" (input)="formatDate($event)">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" (click)="saveDatewiseBudget()">Save</button>
            </div>
        </div>
    </div>
</div>


<section class="relative-div">
    <div class="table-container component-body budget_table" *ngIf="projectId">
        <table>
            <tr>
                <th colspan="7" style="text-align: center;">BUDGET</th>
                <th colspan="3" style="text-align: center;">CONSUMPTION</th>
                <th colspan="2" style="text-align: center;">REMAINDER</th>
            </tr>

            <tr>
                <th *ngFor="let header of tableHeaders">{{ header }}</th>
            </tr>

            <tr *ngFor="let data of items;index as i"
                [ngStyle]="{'display': data.is_visible == true ? 'table-row' : 'none'}"
                (contextmenu)="onRightClick($event, data)">

                <td style="cursor: pointer; width: min-content;">
                    <span (click)="hideShowChildRows('plus',data)" *ngIf="data?.children_details?.length>0">+</span>

                    <span (click)="hideShowChildRows('minus',data)" *ngIf="data?.children_details?.length>0">-</span>
                </td>
                <td> <input type="text" [(ngModel)]="data.activity" style="cursor: pointer;width: max-content;"
                        [ngClass]="{'parent-name-cell': data.is_header}"
                        [style.padding-left.px]=" data.tab_count ? data.tab_count * 20 : 0"
                        (change)="onDataChange(data,i)"> </td><!-- (change)="onCellEdit(data, i)" -->
                <td>
                    <input type="text" [(ngModel)]="data.code" style="cursor: pointer;"
                        [ngClass]="{'parent-name-cell': data.is_header}" (change)="onDataChange(data,i)" #inputField>
                </td>
                <td><input type="text" [(ngModel)]="data.uom_txt" (change)="onDataChange(data,i)"></td>
                <td><input type="text" [(ngModel)]="data.qty" (change)="onDataChange(data,i)"></td>
                <td><input type="text" [(ngModel)]="data.rate" (change)="onDataChange(data,i)"></td>
                <td><input type="text" [(ngModel)]="data.budgeted_amount" readonly></td>
                <td><input type="text" [(ngModel)]="data.consumption_qty" (change)="onDataChange(data,i)"></td>
                <td><input type="text" [(ngModel)]="data.consumption_amount" (change)="onDataChange(data,i)"></td>
                <td><input type="text" [(ngModel)]="data.rate_qty_consumed" readonly></td>
                <td><input type="text" [(ngModel)]="data.qty_left" (change)="onDataChange(data,i)"></td>
                <td><input type="text" [(ngModel)]="data.budget_left" (change)="onDataChange(data,i)"></td>
                <td>
                    <span style="cursor: pointer;" (click)="deleteRowData(data, i)">
                        <img src="assets/usermanagement/delete.png" alt="">
                    </span>
                </td>

            </tr>

            <div *ngIf="contextMenuVisible" class="context-menu" [style.left.px]="contextMenuX"
                [style.top.px]="contextMenuY">
                <ul>
                    <li (click)="addRowUp()">Add Row UP</li>
                    <li (click)="addRowDown()">Add Row Down</li>
                    <li (click)="addChildRow()">Add Child Row</li>
                </ul>
            </div>

        </table>
    </div>
</section>