<div class="cards-list">

  <div class="card 1" [routerLink]="['/hrms/attendance/view-attendance']">
    <div class="card_image">
      <img src="assets/img/menu1.png" />
    </div>
    <div class="card_title">
      <p>My Attendance</p>
    </div>
  </div>

  <div class="card 2">
    <div class="card_image">
      <img src="assets/img/menu2.png" />
    </div>
    <div class="card_title">
      <p>Attendance Report</p>
    </div>
  </div>

  <div class="card 3">
    <div class="card_image">
      <img src="assets/img/menu1.png" />
    </div>
    <div class="card_title">
      <p>Attendance Approval</p>
    </div>
  </div>

  <div class="card 4">
    <div class="card_image">
      <img src="assets/img/menu2.png" />
    </div>
    <div class="card_title title-black">
      <p>Fortnight Attendance</p>
    </div>
  </div>

  <div class="card 5">
    <div class="card_image">
      <img src="assets/img/menu2.png" />
    </div>
    <div class="card_title title-black">
      <p>Leave Approval</p>
    </div>
  </div>

  <div class="cards-list2">


    <div class="card 6">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
      </div>
      <div class="card_title title-black">
        <p>Leave Report</p>
      </div>
    </div>

    <div class="card 7">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
      </div>
      <div class="card_title title-black">
        <p>Conveyance</p>
      </div>
    </div>

    <div class="card 8">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
      </div>
      <div class="card_title title-black">
        <p>Fooding</p>
      </div>
    </div>

    <div class="card 9">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
      </div>
      <div class="card_title title-black">
        <p>Daily Worksheet</p>
      </div>
    </div>

    <div class="card 10" [routerLink]="['/hrms/leave/apply-leave']">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
      </div>
      <div class="card_title title-black">
        <p>Apply Leave</p>
      </div>
    </div>

  </div>

</div>