.createrequisition-section {
    margin: 12px 12px;
    padding: 0px 0px;
    width: auto;
    position: relative;
}


.btd-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.btn-save {
    background-image: linear-gradient(to right, #40d4e6, #6675fe);
    font-weight: initial;
    padding: 7px 17px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    float: right;
    min-width: auto;
    margin-left: 15px;
}

.btn-save:hover {
    background-image: linear-gradient(to right, #6675fe, #40d4e6);
    color: white;
}

.btn-cancel {
    background-image: linear-gradient(to right, #888888, #6e6e6e);
    padding: 7px 17px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    float: right;
    min-width: auto;
    margin-left: 15px;
}

.btn-cancel:hover {
    background-image: linear-gradient(to right, #6e6e6e, #888888);
    color: white;
}


.createtable-section {
    width: 100%;
    margin: 25px 0px;
    overflow-x: scroll;
}

.createtable-section table {
    width: 100%;
    padding-bottom: 35px;
}

.createtable-section table td {
    font-size: 12px;
    padding: 11px 10px;
    font-weight: 400;
    min-height: 42px;
    vertical-align: top;
}

.createtable-section table td p {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

.createtable-section table tr:nth-child(2n+1) {
    background: #f8f8f8;
}

.createtable-section table th {
    background-color: #5577ff;
    color: white;
    font-size: 14px;
    padding: 13px;
    font-weight: 500;
}

.createtable-section table td,
.createtable-section table th {
    border: 1px solid #D9D9D9;
}

.tablegroup {
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
}

.tablegroup label {
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 400;
}

.tablegroup .form-control {
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #b1adad;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: #b9b8b8 1px solid;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    margin-bottom: 9px;
    appearance: auto;
}

.tablegroup .form-control2 {
    // background: #EFEFEF;
    border: #EFEFEF 1px solid;
}

.tablegroup-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 6px;
}

.tablegroup-text .form-control2 {
    background: #EFEFEF;
    padding: 4px 8px;
    border: #EFEFEF 1px solid;
}

.tablegroup-text h2 {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 15px;
    color: #666666;
    font-weight: 500;
}

.tablebg {
    background: #f6f8ff;
}

.tablebtn-save {
    background-image: linear-gradient(to right, #40d4e6, #6675fe);
    font-weight: initial;
    padding: 5px 16px;
    border-radius: 28px;
    border: none;
    color: white;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 5px;
    align-items: baseline;
    width: auto;
    text-decoration: none;
}

.tablebtn-save .fa {
    width: 13px;
}

.tablebtn-save .fa img {
    width: 13px;
}

.tablebtn-save:hover {
    background-image: linear-gradient(to right, #6675fe, #40d4e6);
    color: white;
}

.vector-delete {
    background-image: linear-gradient(to right, #df2929, #ea4646);
    font-weight: initial;
    padding: 5px 16px;
    border-radius: 28px;
    border: none;
    color: white;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 5px;
    align-items: baseline;
    width: auto;
    text-decoration: none;
}

.vector-delete .fa {
    width: 11px;
}

.vector-delete .fa img {
    width: 11px;
}

.vector-delete:hover {
    background-image: linear-gradient(to right, #ea4646, #df2929);
    color: white;
}

.chackbox-container {
    display: flex;
    align-items: baseline;

    p {
        margin-left: 5px;
    }
}

.boq-material-details {
    position: relative;
    width: 20px;
    cursor: pointer;

    img {
        height: 20px;
    }

    table {
        position: absolute;
        display: none;
        padding: 0px;
        left: 0;
        box-shadow: 1px 1px 15px gray;
        width: auto;
        border-radius: 15px;
        border: 1px solid #5577ff;
        border-top-left-radius: 0;
        z-index: 99999;
        top: 0;
        background: white;

        th,
        td {
            font-size: 10px;
            min-width: 120px;
        }

        tr:first-child {
            border-radius: inherit;

            th:first-child {
                border-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

            th:last-child {
                border-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.boq-material-details:hover table {
    display: block;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.row {
    align-items: center;
    margin: 15px 0px;
}
.addressform{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  width: 100%;
  margin-bottom: 7px;
  }
.addressform label {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 14px;
	color: #666;
	font-weight: 400;
	margin: 0px 0px;
	vertical-align: middle;
	text-align: right;
	min-width: 110px;
    }
.addressform .form-control{
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #9D9D9D;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    appearance: auto;
    }
.component-body table th{
    color: white;
    font-size: 14px;
    padding: 10px;
    line-height: 15px;
    font-weight: 500;
    }
.component-body table td {
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 300;
    min-height: 42px;
    font-family: Arial, Helvetica, sans-serif;
    }