.topbar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid #f8f9fa;
    border-radius: 6px;
    background-color: #f8f9fa;
    margin: 15px;
    justify-content: space-around;

    .eachmenu {
        width: 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        height: auto;
        padding: 7px;
        margin: 5px;
        align-items: center;
        border: 1px solid #f8f9fa;
        border-radius: 7px;
        cursor: pointer;

        .upsection {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            img {
                height: 22px;
                width: 24px;
            }
        }

        span {
            font-size: 12px;
            display: block;
            line-height: 13px;
            text-align: center;
            margin: 6px 0px
        }
    }
}


.leftside {
    //min-height: 300px;
    //background-color: #f8f9fa;
    //border: 1 px solid #f8f9fa;
    border-radius: 8px;

    .header {
        padding: 10px 14px;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            border: 1px solid #5577FF;
            border-radius: 20px;
            background-color: #5577FF;
            color: white;
            font-size: 11px;
            padding: 5px 15px;
            margin: 1px 15px;
        }
    }

    .bodycss {
        .table_box {
            background: #fff;
            margin-bottom: 22px;
            border: 1px solid #dbdbdb;
            padding: 14px;
        }
    }




    .accordion-body {
        background: #F7F7F7;
    }

    .accordion-header {
        margin: 0;
        line-height: 14px;
    }
}

//dashboard
.todo_box {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}


.count_box {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
        padding: 0px 4px;
        border-radius: 10px;
        color: #fff;
        font-size: 11px;
        min-width: 35px;
        text-align: center;
        margin: 0;
    }
    .count {
        display: block;
        p {
            margin-top: 2px;
            cursor: pointer;
        }
    }
}


.accordion-button {
    padding: 0 10px;
}

.accordion-button:not(.collapsed) {
    background: #F7F7F7;
}

.accordion-item {
    margin-bottom: 20px;
    border: 0;
}


.table_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

    h6 {
        font-size: 14px;
        margin: 0;
        line-height: 12px;
    }

    button {
        border: none;
    }

    a {
        text-decoration: none;
    }
}

.table_body {
    table thead tr th {
        font-size: 13px;
        white-space: nowrap;
    }

    table tbody tr th,
    table tbody tr td {
        font-size: 12px;
        color: #606060;
    }
}

.table img {
    width: 20px;
}

.search_input {
    display: flex;
    gap: 6px;
    margin: 10px;

    button {
        border: 1px solid #D8D8D8;
        background: #F7F7F7;
    }

    img {
        width: 20px;
    }
}

.stock_item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 14px;

    .single_stock {
        min-width: 120px;
        border-right: 1px solid #c6c6c6;

        h6 {
            margin: 0;
            font-size: 12px;
        }

        p {
            margin: 0;

            span {
                padding-right: 6px;
            }
        }
    }


    .single_stock:last-child {
        border-right: 0;
    }


}



.location_sec {
    display: flex;
    gap: 6px;
    margin: 14px 0 0;
    border-top: 1px solid #d0d0d0;
}

.single_loc {
    display: flex;
    gap: 5px;
    padding: 10px 14px;
    border-right: 1px solid #ddd;

    p {
        margin-bottom: 0;
        color: #5577FF;
        font-size: 12px;
    }

}

.single_loc:last-child {
    border-right: 0;
}


.singlecmnt_head {
    display: flex;
    gap: 10px;
}

.single_todocon {
    h5 {
        font-size: 15px;
        margin: 0;
        min-width: 70px;
    }

    h6 {
        font-size: 12px;
        margin: 0;
        line-height: 12px;
    }
}

.reload_btn {
    background: #fff;
    padding: 6px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 15px;
    }
}

.rightside {

    .accordion-body {
        background: #F7F7F7;
        padding: 10px;
    }

    .accordion-item h2 {
        margin-bottom: 0;
    }

    .accordion-button {
        padding: 10px;
    }

    .quicksearch_box {
        background: #fff;
        border: 1px solid #D8D8D8;
    }

    .search_input input {
        font-size: 12px;
    }
}

.single_comnt {
    background: #fff;

    border-radius: 10px;
    margin-bottom: 10px;
.singlecmnt_head{
    padding: 10px;
}
    .name_box {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #5577FF3B;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #5577FF;
            margin: 0;
        }
    }

    .single_details {
        h6 {
            margin: 0;
            font-size: 14px;
        }
        p{
            margin: 0;
            color: #606060;
            font-size: 11px;
        }
    }
    .indent_box {
        padding: 10px;
        margin: 4px 0 0;
        border-top: 1px solid #d0d0d0;
        p {
            font-size: 12px;
            margin: 0;
            font-weight: 300;
        }
    }
}

.container{
    max-width: 100%;
}


.linkable{
    cursor: pointer;
    color: blue;
}

::ng-deep .ng-select {
    padding: 0;
}

//----------------------