<form role="form" [formGroup]="addcompanyForm">

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.companyname != '' }">
    <input type="text" class="form-control" id="role" formControlName="name" [(ngModel)]="addCompany.companyname"
      [ngClass]="displayFieldCss(addcompanyForm,'name')">
    <label class="floating-label">Enter Name <span class="asterisk">*</span></label>

    <div class="required" *ngIf="isFieldValid(addcompanyForm,'name')">
      <span class="text-danger" *ngIf="addcompanyForm.get('name')?.errors?.['required']">Name is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.pannumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="pan" [(ngModel)]="addCompany.pannumber"
      (keyup)="PANupCase($event)" maxlength="10" [ngClass]="displayFieldCss(addcompanyForm,'pan')">
    <label class="floating-label">Enter PAN No.</label>

    <div class="required" *ngIf="addcompanyForm.get('pan')?.errors?.['pattern']">
      <span class="text-danger">Valid PAN is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.gstnumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="gst" [(ngModel)]="addCompany.gstnumber"
    [ngClass]="displayFieldCss(addcompanyForm,'gst')">
    <label class="floating-label">Enter GST No.</label>

    <div class="required" *ngIf="addcompanyForm.get('gst')?.errors?.['pattern']">
      <span class="text-danger">Valid GST is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.emailid != '' }">
    <input type="text" class="form-control" id="role" formControlName="email" [(ngModel)]="addCompany.emailid"
      autocomplete="off" [ngClass]="displayFieldCss(addcompanyForm,'email')">
    <label class="floating-label">Enter Email Id</label>

    <div class="required" *ngIf="addcompanyForm.get('email')?.errors?.['pattern']">
      <span class="text-danger">Valid Email is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.phonenumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="phone" [(ngModel)]="addCompany.phonenumber"
      numbersOnly pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" minlength="4" maxlength="10"
      [ngClass]="displayFieldCss(addcompanyForm,'phone')">
    <label class="floating-label">Enter Phone No.</label>
    <div class="required" *ngIf="addcompanyForm.get('phone')?.errors?.['pattern']">
      <span class="text-danger">Valid Phone is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': addCompany.addres != '' }">
    <textarea type="text" class="form-control" id="role" formControlName="address" [(ngModel)]="addCompany.addres"></textarea>
    <label class="floating-label">Enter Address</label>

    <!-- <div class="required" *ngIf="isFieldValid(addcompanyForm,'address')">
      <span class="text-danger" *ngIf="addcompanyForm.get('address')?.errors?.['required']">Address is required</span>
    </div> -->
  </div>
  <button type="submit" class="btn btn-primary" (click)="addnewEmpMaster()">ADD</button>
</form>