
<div class="content-description">
    <b>Workflow Rules :</b><br>
    Workflow rules allow you to perform certain automatic actions on specific records based on defined criteria.
    Workflow automations can send emails, update fields, create events/tasks and much more.
</div>
<div class="cards-list">
  
    <div class="card 1" [routerLink]="['/pms/settings/workflow']">
      <div class="card_image">
         <img src="assets/img/menu1.png" />
      </div>
      <div class="card_title">
        <p>Tender Workflow</p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
        </div>
      <div class="card_title">
        <p>Project Workflow</p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="assets/img/menu1.png" />
      </div>
      <div class="card_title">
        <p>Procurement Workflow</p>
      </div>
    </div>
      
      <div class="card 4">
      <div class="card_image">
        <img src="assets/img/menu2.png" />
        </div>
      <div class="card_title title-black">
        <p>Plant & Machinery Workflow</p>
      </div>
      </div>
    
    </div>
