<form name="addUser" #f="ngForm" (ngSubmit)="scrollToFirstInvalidControl()" (ngSubmit)="f.form.valid && onuserSubmit()"
    novalidate>

    <div class="work-card">
        <div class="work-header">
            <span>General & Login Info</span>
        </div>
        <div class="flex-div">
            <div class="mb-3 empgenralwth" [ngClass]="{ 'float-now': addUser.first_name != '' }">
                <input type="text" charOnly class="form-control" id="fname" name="first_name"
                    [(ngModel)]="addUser.first_name" required #first_name="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && first_name.errors }">
                <label class="floating-label">Enter First Name <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && first_name.errors" class="invalid-feedback">
                    <div *ngIf="first_name.errors['required']">First name is required</div>
                </div>
            </div>
            <div class="mb-3 empgenralwth" [ngClass]="{ 'float-now': addUser.last_name != '' }">
                <input type="text" charOnly class="form-control" id="lname" name="last_name"
                    [(ngModel)]="addUser.last_name" required #last_name="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && last_name.errors }">
                <label class="floating-label">Enter Last Name <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && last_name.errors" class="invalid-feedback">
                    <div *ngIf="last_name.errors['required']">Last name is required</div>
                </div>
            </div>
            <div class="mb-3 empgenralwth" [ngClass]="{ 'float-now': addUser.email != '' }">
                <input type="email" class="form-control" id="email" autocomplete="off"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" [(ngModel)]="addUser.email"
                    required #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
                <label class="floating-label">Enter Email ID <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['pattern']">Email is not valid</div>
                </div>
            </div>
            <div class="mb-3 empgenralwth" [ngClass]="{ 'float-now': addUser.phone_no != '' }">
                <input type="text" class="form-control" numbersOnly
                    pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" minlength="4" maxlength="10"
                    id="phone" name="phone_no" [(ngModel)]="addUser.phone_no" required #phone_no="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && phone_no.errors }">
                <label class="floating-label">Enter Phone Number <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && phone_no.errors" class="invalid-feedback">
                    <div *ngIf="phone_no.errors['required']">Phone number is required</div>
                    <div *ngIf="phone_no.errors['pattern']">Phone number is not valid</div>
                </div>
            </div>
        </div>
    </div>

    <div class="work-card">
        <div class="work-header">
            <span>Address Info</span>
        </div>
        <div class="flex-div">
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" (change)="changeCountry()"
                    name="country" [(ngModel)]="addUser.country" #country="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && country.errors }">
                    <option selected disabled value="">Select Country</option>
                    <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.country =='' }">Select Country</label>
                <!-- <div *ngIf="f.submitted && country.errors" class="invalid-feedback">
            <div *ngIf="country.errors['required']">Please select country</div>
        </div> -->
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="state" [(ngModel)]="addUser.state"
                    #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.errors }" (change)="getCityList()">
                    <option selected disabled value="">Select State</option>
                    <option *ngFor="let state of stateList" value="{{state.state_id}}">{{state.name}}</option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.state =='' }">Select State</label>
                <!-- <div *ngIf="f.submitted && state.errors" class="invalid-feedback">
            <div *ngIf="state.errors['required']">Please select state</div>
        </div> -->
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="city" [(ngModel)]="addUser.city"
                    #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.errors }">
                    <option selected disabled value="">Select City</option>
                    <option *ngFor="let city of cityList" value="{{city.city_id}}">{{city.name}}</option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.city =='' }">Select
                    City</label>
                <!-- <div *ngIf="f.submitted && city.errors" class="invalid-feedback">
            <div *ngIf="city.errors['required']">Please select city</div>
        </div> -->
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="zone" [(ngModel)]="addUser.zone"
                    #zone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && zone.errors }">
                    <option selected disabled value="">Select Zone</option>
                    <option *ngFor="let zone of zoneList" value="{{zone.id}}">{{zone.zone_name}}</option>
                </select>
                <label class="floating-label-select" *ngIf="addUser.zone!=''">Select Zone</label>
                <!-- <div *ngIf="f.submitted && zone.errors" class="invalid-feedback">
                    <div *ngIf="zone.errors['required']">Please select Zone</div>
                </div> -->
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.address_line_1 != '' }">
                <input type="text" class="form-control" required id="add1" name="address_line_1"
                    [(ngModel)]="addUser.address_line_1" #address_line_1="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && address_line_1.errors }">
                <label class="floating-label">Enter Address Line 1 <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && address_line_1.errors" class="invalid-feedback">
                    <div *ngIf="address_line_1.errors['required']">Address is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.address_line_2 != '' }">
                <input type="text" class="form-control" id="add2" name="address_line_2"
                    [(ngModel)]="addUser.address_line_2" #address_line_2="ngModel">
                <label class="floating-label">Enter Address Line 2 </label>
                <!-- <div *ngIf="f.submitted && first_name.errors" class="invalid-feedback">
                    <div *ngIf="first_name.errors['required']">Address is required</div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="work-card">
        <div class="work-header">
            <span>Profile Permissions</span>
        </div>
        <div class="flex-div">
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="role" [(ngModel)]="addUser.role"
                    required #role="ngModel" [ngClass]="{ 'is-invalid': f.submitted && role.errors }">
                    <option selected disabled value="">Select Profile <span class="asterisk">*</span></option>
                    <option *ngFor="let role of roleList" value="{{role.id}}">{{role.role_name}}</option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.role =='' }">Select Profile
                    <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && role.errors" class="invalid-feedback">
                    <div *ngIf="role.errors['required']">Profile is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.company_list != '' }">
                <select class="form-select" aria-label="Default select example" name="company_list"
                    [(ngModel)]="addUser.company_list" (change)="getDesignationList()" required #company_list="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && company_list.errors }">
                    <option selected disabled value="">Select Company List <span class="asterisk">*</span></option>
                    <option *ngFor="let company of companyList" value="{{company.id}}">{{company.name}}</option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.company_list =='' }">Select Company List <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && role.errors" class="invalid-feedback">
                    <div *ngIf="role.errors['required']">Company is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="designation"
                    [(ngModel)]="addUser.designation" required #designation="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && designation.errors }">
                    <option selected disabled value="">Select Role <span class="asterisk">*</span></option>
                    <option *ngFor="let designation of designationList" value="{{designation.id}}">
                        {{designation.designation}}</option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.designation =='' }">Select Role
                    <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && designation.errors" class="invalid-feedback">
                    <div *ngIf="designation.errors['required']">Role is required</div>
                </div>
            </div>
        </div>
    </div>

    <div class="work-card">
        <div class="work-header">
            <span>Employement Info</span>
        </div>
        <div class="flex-div">

            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.employe_code != '' }">
                <input type="text" class="form-control" id="employe_code" autocomplete="off" name="employe_code"
                    [(ngModel)]="addUser.employe_code" #employe_code="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && employe_code.errors }">
                <label class="floating-label">Enter Employee Code</label>
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="department"
                    [(ngModel)]="addUser.department" required #department="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && department.errors }">
                    <option selected disabled value="">Select Department <span class="asterisk">*</span></option>
                    <option *ngFor="let department of departmentList" value="{{department.id}}">
                        {{department.department}}
                    </option>
                </select>
                <label class="floating-label-select" [ngClass]="{'insideDropdown': addUser.department =='' }">Select Department<span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && department.errors" class="invalid-feedback">
                    <div *ngIf="department.errors['required']">Department is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="employement_type"
                    [(ngModel)]="addUser.employement_type" required #employement_type="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && employement_type.errors }">
                    <option selected disabled value="">Select Employment <span class="asterisk">*</span></option>
                    <option *ngFor="let employment of employmentList" value="{{employment.id}}">{{employment.user_type}}
                    </option>
                </select>
                <label class="floating-label-select"
                    [ngClass]="{'insideDropdown': addUser.employement_type =='' }">Select Employement Type<span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && employement_type.errors" class="invalid-feedback">
                    <div *ngIf="employement_type.errors['required']">Employee Type is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="reporting_manager"
                    [(ngModel)]="addUser.reporting_manager" required #reporting_manager="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && reporting_manager.errors }">
                    <option selected disabled value="">Select Reporting Manager <span class="asterisk">*</span></option>
                    <option *ngFor="let reporting of reportingList" value="{{reporting.id}}">
                        {{reporting.first_name}} {{reporting.last_name}}
                    </option>
                </select>
                <label class="floating-label-select"
                    [ngClass]="{'insideDropdown': addUser.reporting_manager =='' }">Select Reporting Manager<span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && reporting_manager.errors" class="invalid-feedback">
                    <div *ngIf="reporting_manager.errors['required']">Reporting Manager is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.aadhar_number != '' }">
                <input type="text" class="form-control" numbersOnly pattern="^[2-9]{1}[0-9]{11}$" maxlength="12"
                    name="aadhar_number" [(ngModel)]="addUser.aadhar_number" #aadhar_number="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && aadhar_number.errors }">
                <label class="floating-label">Select Aadhar Number</label>
                <div *ngIf="f.submitted && aadhar_number.errors" class="invalid-feedback">
                    <!-- <div *ngIf="aadhar_number.errors['required']">Please Enter Aadhar number</div> -->
                    <div *ngIf="aadhar_number.errors['pattern']">Please Enter valid Aadhar number</div>
                </div>
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.pan_number != '' }">
                <input type="text" class="form-control" (keyup)="PANupCase($event)" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
                    maxlength="10" name="pan_number" [(ngModel)]="addUser.pan_number" #pan_number="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && pan_number.errors }">
                <label class="floating-label">Select PAN Number</label>
                <div *ngIf="f.submitted && pan_number.errors" class="invalid-feedback">
                    <!-- <div *ngIf="pan_number.errors['required']">Please Enter PAN</div> -->
                    <div *ngIf="pan_number.errors['pattern']">Please Enter valid PAN</div>
                </div>
            </div>
            <div class="mb-3 empinfowth">
                <select class="form-select" aria-label="Default select example" name="gender"
                    [(ngModel)]="addUser.gender" #gender="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && gender.errors }">
                    <option selected disabled value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <label class="floating-label-select" *ngIf="addUser.gender!=''">Select Gender</label>
                <!-- <div *ngIf="f.submitted && gender.errors" class="invalid-feedback">
            <div *ngIf="gender.errors['required']">Please select gender</div>
        </div> -->
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.blood_group != '' }">
                <select class="form-select" aria-label="Default select example" name="blood_group"
                    [(ngModel)]="addUser.blood_group" #blood_group="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && blood_group.errors }">
                    <option selected disabled value="">Select Blood Group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <label class="floating-label-select" *ngIf="addUser.blood_group!=''">Select Blood Group</label>
                <!-- <div *ngIf="f.submitted && blood_group.errors" class="invalid-feedback">
            <div *ngIf="blood_group.errors['required']">Blood group is required</div>
        </div> -->
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.date_of_birth != '' }">
                <input type="date" class="form-control" id="dob" name="date_of_birth"
                    [(ngModel)]="addUser.date_of_birth" required #date_of_birth="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && date_of_birth.errors }">
                <label class="floating-label-select">Enter Date of Birth <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && date_of_birth.errors" class="invalid-feedback">
                    <div *ngIf="date_of_birth.errors['required']">Date of Birth is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.joining_date != '' }">
                <input type="date" class="form-control" id="jdate" name="joining_date"
                    [(ngModel)]="addUser.joining_date" required #joining_date="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && joining_date.errors }">
                <label class="floating-label-select">Enter Joining Date <span class="asterisk">*</span></label>
                <div *ngIf="f.submitted && joining_date.errors" class="invalid-feedback">
                    <div *ngIf="joining_date.errors['required']">Joining Date is required</div>
                </div>
            </div>
            <div class="mb-3 empinfowth" [ngClass]="{ 'float-now': addUser.last_working_date != '' }">
                <input type="date" class="form-control" id="ldate" name="last_working_date"
                    [(ngModel)]="addUser.last_working_date" #last_working_date="ngModel">
                <label class="floating-label-select">Enter Last Working Date </label>
                <!-- <div *ngIf="f.submitted && first_name.errors" class="invalid-feedback">
                    <div *ngIf="first_name.errors['required']">Last Working Date is required</div>
                </div> -->
            </div>
        </div>

        <!-- <div class="mb-3" [ngClass]="{ 'float-now': addUser.notice_period != '' }">
        <input type="text" class="form-control" maxlength="3" numbersOnly id="notice_period" name="notice_period" [(ngModel)]="addUser.notice_period" #notice_period="ngModel" [ngClass]="{ 'is-invalid': f.submitted && notice_period.errors }">
        <label class="floating-label">Enter Notice period</label> -->
        <!-- <div *ngIf="f.submitted && notice_period.errors" class="invalid-feedback">
            <div *ngIf="notice_period.errors['required']">Notice period is required</div>
        </div> -->
        <!-- </div> -->

        <div class="mb-3 fileUpload" *ngIf="addUser.imagefile==''">
            <div class="file btn btn-lg btn-primary">
                <span><img src="assets/icons/upload.png" alt=""></span>
                Upload Profile Picture
                <input type="file" name="imagefile" accept="image/*" (change)="uploadFile($event)">
            </div>
        </div>
        <div class="flex-div" *ngIf="addUser.imagefile!=''">
            <div class="mb-3">
                <div class="custom-section">
                    <div class="dropdown">
                        <img class="Profile_image" src="{{addUser.imagefile}}" alt="">
                        <div class="dropdown-content">
                            <div class="img-container">
                                <img style="width: 24px; height: 26px;" src="assets/usermanagement/delete.png" alt=""
                                    (click)="imageDelete()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 fileUpload Filepic">
                <div class="file btn btn-lg btn-primary">
                    <span><img src="assets/icons/upload.png" alt=""></span>
                    Update Profile Picture
                    <input type="file" name="imagefile" accept="image/*" (change)="uploadFile($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="btn_wrapper">
        <button type="submit" class="btn btn-primary">SAVE</button>
        <button type="button" class="btn btn-primary non-active-btn" (click)="resetADD(f)">BACK</button>
    </div>

</form>