.scrollable-table {
  margin-left: 275px !important;
  width: fit-content !important;
  display: block;
  overflow-x: auto;
  white-space: wrap !important;
  margin-left: 211px !important;
  // width: calc(100% - 510px) !important;
  width: calc(100% - 580px) !important;
}

.tablewidth {
  // width: calc(100% - 509px) !important;
  width: calc(100% - 580px) !important;
}

.dynamiclnth {
  min-width: 100px !important;
}

.posion-fixed-left {
  position: absolute !important;
  left: 65px !important;
  min-height: 29px !important;
  min-width: 156px !important;
}

.posion-fixed-left-sno {
  position: absolute !important;
  left: 10px !important;
  min-height: 29px !important;
  min-width: 56px !important;
}

.posion-fixed-right {
  min-width: 65px !important;
  min-height: 29px !important;
}

.table-filter {
  background: unset;
  background-image: unset !important;
  color: black !important;
  padding: 8px 5px !important;
  font-weight: 300 !important;
}

.export {
  width: 15%;
  height: 15%;
  margin-right: 10px;
}

.downloadall {
  padding: 5px 0px 5px 10px !important;
  cursor: pointer;
}

.custom-section {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    max-height: 20px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding: 5px;
  }

  .dropdown-content {
    display: none;
    right: -10px;
    top: 26px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 54%);
    z-index: 1;
    border-radius: 0;
    padding: 0px 5px;
  }

  .dropdown-content::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: white;
    position: absolute;
    transform: rotateZ(180deg);
    top: -2px;
    zoom: 2;
    right: 7px;
  }

  .img-container {
    span {
      display: inline-flex;
      min-width: 165px;
      padding: 3px 3px;
      cursor: pointer;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

}

.img-container {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  justify-content: center;

  span:hover {
    background-color: #d9d9d9;
  }
}

.fstwidth {
  // min-width: 185px !important;
  min-width: 156px !important;
}

.entiti {
  height: 66px;
}



.lstheight {
  height: 66px;
  min-width: 65px !important;
}

.mainHeight {
  height: 29px;
}

.selactiontab {
  cursor: pointer;
}

.surveybutton {
  cursor: pointer;
  // color: rgb(46, 140, 247);
  height: 0px;
}

.nopadding {
  padding: unset !important;
}

::ng-deep {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    right: -100px;
    top: 40px;
    width: 290px; 
    position: absolute;
    color: rgb(84 83 83);
    background-color: white;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.54);
    z-index: 1;
    border-radius: 0;
    padding: 8px 13px;
    box-sizing: border-box;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5577ff;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5577ff;
    border-radius: 15px;
  }

  .fstwidth {
    overflow: visible !important;
  }

  .entities {
    cursor: pointer;
  }

  .dropdown-content::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 1.3em solid #140000;
    border-bottom: 0;
    border-left: 2.3em solid black;
    color: white;
    position: absolute;
    border: 15px solid transparent;
    border-left: 0;
    //border-right: 15px solid #5494db;
    width: 0px;
    left: 50%;
    top: 0;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 15px solid #ffffff;
    transform: translate(-50%, calc(-100% - 0px));
}

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.actionheight {
  overflow-y: visible !important;
}

.table-filter {
  background: unset;
  background-image: unset !important;
  color: black !important;
  padding: 8px 5px !important;
  font-weight: 300 !important;
}

.table-filter.active {
  color: #55A4FF !important;
  border-bottom: 2px solid !important;
  border-left: unset !important;
  border-radius: 0 !important;
  font-weight: 400 !important;
}

.status-th {
  margin-right: 65px !important;
  min-width: 165px !important;
  height: 66px;
  display: block !important;
}

.status-td {
  margin-right: 65px !important;
  min-width: 165px !important;
  display: block !important;
  cursor: pointer !important;
}

.status-th2 {
  // margin-right: 229px !important;
  margin-right: 299px !important;
  min-width: 70px !important;
  height: 66px;
  display: block !important;
}

.status-td2 {
  margin-right: 299px !important;
  min-width: 70px !important;
  display: block !important;
}

.status-th3 {
  margin-right: 227px !important;
  min-width: 70px !important;
  height: 51px;
  display: block !important;
}

.status-td3 {
  margin-right: 229px !important;
  min-width: 70px !important;
  display: block !important;
}


.identify {
  background-color: rgb(255 243 181);
}

.approved {
  background-color: rgba(50, 247, 36, 0.95);
}

.sentforapproved {
  background-color: rgb(181, 253, 246);
}

.sentforrecomm {
  background-color: rgb(255, 255, 74);
}

.recommended {
  background-color: rgb(68, 252, 148);
}

.rejected {
  background-color: rgb(255, 57, 57);
}

.vgadone {
  background-color: rgba(98, 255, 205, 0.95);
}

.vgarejected {
  background-color: rgba(254, 141, 133, 0.95);
}

.asignedmemforsurvy {
  background-color: rgba(252, 192, 255, 0.95);
}

.startandinprogress {
  background-color: rgba(190, 253, 246, 0.95);
}

.surveycompleted {
  background-color: rgba(216, 255, 152, 0.95);
}

.sendfinalapproval {
  background-color: rgba(106, 253, 218, 0.95);
}

.approvorrejected {
  background-color: rgba(251, 200, 90, 0.95);
}

.submitted {
  background-color: rgb(208, 250, 103);
}

.selstatuspending {
  background-color: rgb(255, 252, 95);
}

.selasl1 {
  background-color: rgb(26, 255, 76);
}

.Agreementsigned {
  background-color: rgb(100, 176, 116);
}

.rcaprovided {
  background-color: rgb(174, 216, 183);
}

.agreestatuspending {
  background-color: rgb(231, 231, 145);
}

.hidden {
  display: none !important;
}

.archived {
  color: rgb(144, 144, 144);
}

.actionclass span:last-child {
  border-top: 1px solid;
  border-color: rgb(64, 135, 249)
}

.statsfilter {
  width: 17% !important;
  margin-left: 0px !important;
  padding: 0px 12px !important;
  cursor: pointer !important;
  max-height: 150px !important;
}

.viewAll {
  display: flex !important;

  .custom-section {
    .dropdown-content {
      right: -178px;
      top: -11px;
      width: 184px;
    }

    .dropdown-content::after {
      transform: rotateZ(90deg);
      top: 11px;
      right: 85px;
    }
  }
}


.statuswidth {
  width: 175%;
  height: 390px;
  float: left;
  margin-left: -135px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}

.statuswidth2 {
  width: 103%;
  height: 48px;
  margin-top: -9px;
  margin-left: 0px !important;
  padding: 10px 10px;
}

.modal-header {
  background-color: #5577FF !important;
  color: white;
  display: block !important;

  h5 {
    font-size: 17px;
    text-align: left;
  }
}

.btn-close {
  display: flex;
  margin-top: -10px !important;
  margin-right: 0px !important;
}

.statusbox {
  display: block;
  width: 612px;
  margin-top: -45px;
  margin-left: -306px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-height: 335px;
  overflow: auto;
}

.dropdown-item:active {
  background-color: rgb(207, 207, 207) !important;
}

.statusuncheck {
  color: rgb(171, 52, 52) !important;
}

.activeClass {
  font-weight: 500;
}

.bolletcolor {
  color: #12bf12;
}

.targetdate {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #185c5c;
}

.container {
  width: 100%;
  margin-top: 2px;
  margin-left: 0px;
}

.step {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: cream;
}

.v-stepper {
  position: relative;
}

.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.step .line {
  top: 19px;
  left: 6px;
  height: 100%;
  position: absolute;
  border-left: 3px solid gray;
}

.step.completed .line {
  border-left: 3px solid gray;
}

.active {
  border-left: 2px solid #12bf12 !important;
}

.destination {
  border-left: unset !important;
}

.step.completed .circle {
  visibility: visible;
  background-color: rgb(6, 150, 215);
  border-color: rgb(6, 150, 215);
}

.step.active .circle {
  visibility: visible;
  border-color: rgb(6, 150, 215);
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
  /* behind the circle to completely hide */
}

.content {
  margin-left: 20px;
  display: inline-block;
}


/* codepen override */
html * {
  font-size: 15px !important;
  color: #000 !important;
  font-family: Arial !important;
}

.elapsed {
  background-color: rgb(249, 60, 60);
}

.elapsdate {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(238, 56, 56) !important;
}

.modal-width {
  width: 45% !important;
}

.drpdwnwidth {
  right: -50px;
  width: 200px;
}

.table_des {
  height: 37px;
}

.fstwidth {
  white-space: nowrap;
}

// table button design
.table_scroll {
  position: relative;

  .tablescroll_btn {
    display: flex;
    gap: 15px;
    position: fixed;
    right: 5%;
    justify-content: flex-end;
    bottom: 4%;
    width: 50%;
    z-index: 999;
    margin-left: auto;

    .btn_action {
      width: 30px;
      height: 30px;
      background: #5577FF;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

td.fstwidth.fst_height.posion-fixed-left.entities.entitiwidth {
  background: #fff;
}

.viewallbox {
  background: #fff;
  min-width: 75px !important;
}

.tenderbox {
  min-width: 75px !important;

}

//modal header
.offcanvas-header h5 {
  font-size: 16px;
  margin: 0;
}

.component-header button {
  min-width: 80px !important;
}

.component-body table td {
  font-size: 11px!important;
}
.img-container.dropdown_container label {
  white-space: break-spaces;
}
//--------------------------