<div class="main-container">
    <div class="component-header">
        <h2>Survey List</h2>
    </div>
    <div class="component-body">
        <div class="colaps-element">
            <section>
                <div>
                    <button class="collapsible">Location Details</button>
                </div>
                <div class="component-header">
                <div class="component-body">
                    <table>                 
                        <tr>
                            <th>Location Details</th>
                            <th>Name</th>
                            <th>Distance (KM) </th>
                        </tr>                        
                        <tr> 
                            <td>City/Town/Area</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                </div>
                <div>
                    <button class="collapsible">Road Works Details</button>
                </div>
                <div class="component-header">
                    <div class="component-body">
                        <table>                 
                            <tr>
                                <th colspan="2">Nature of Work</th>
                                <th>NOS</th>
                                <th>Length</th>
                                <th>Remarks</th>
                            </tr>                        
                            <tr> 
                                <td colspan="2">Bridgework</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>