<div class="login-main">
    <div class="login-left" style="background-image: url('assets/login/login_banner.png');">
        <img src="assets/login/login_banner_img.png" alt="">
        <h1>Welcome to <span>OUR PMS</span></h1>
    </div>
    <div class="login-right">
        <div class="pmslogo">
            <img src="assets/login/PMS-LOGO.png" alt="">
        </div>
        <div class="log-from-body">
            <router-outlet></router-outlet>
        </div>
        
        <h3>Powered by <span (click)="openSFT()">Shyam Future Tech Private Limited</span></h3>
    </div>
</div>