.login-main {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    .login-left {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        width: 60%;
        img {
            max-width: 65%;
            margin: 14% 0px 0px 5%;
        }
        h1 {
            color: #ffffff;
            font-size: 24px;
            margin: 3% 0 0% 25%;
            position: absolute;
            bottom: 20px;
            left: -13%;
            span {
                color: #ffee02;
            }
        }
    }

    .login-right {
        width: 40%;
        h3{
            font-size: 14px;
            position: absolute;
            bottom: 20px;
            text-align: center;
            width: 40%;
            right: 20px;
            span {
                color: #162efe;
                cursor: pointer;
            }
        }
        .pmslogo {
            float: right;
            img {
                max-height: 55px;
                margin-right: 25px;
                margin-top: 20px;
            }
        }
        
    }
}
.log-from-body {
    margin-top: 40%;
}