<div class="main-container">
  <div class="component-header">
      <h2>Enquiry</h2>
  </div>
  <div class="component-body">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Enquiry No.</label>
                      <input type="text" name="request_code " [(ngModel)]="form.request_code" #request_code="ngModel" placeholder="" id="request_code" class="form-control" />
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Indent<span class="asterisk">*</span></label>
                      <select id="sel1" class="form-control" (change)="changeIndent(form.indent)" required ngDefaultControl name="indent " [(ngModel)]="form.indent" #indent="ngModel" [ngClass]="{ 'is-invalid': f.submitted && indent.errors }">
                          <option value="">-- select --</option>
                          <option *ngFor="let indentItem of procurementIndentRequest" value="{{ indentItem.id }}">
                              {{ indentItem.request_code }}
                          </option>
                      </select>
                      <div *ngIf="f.submitted && indent.errors" class="invalid-feedback">
                          <div *ngIf="indent.errors['required']">Indent is required</div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Enquiry Date</label>
                      <input type="date" name="enquiry_date " [(ngModel)]="form.enquiry_date" #enquiry_date="ngModel" placeholder="" id="enquiry_date" class="form-control" />
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Validity Date</label>
                      <input type="date" name="validity_date " [(ngModel)]="form.validity_date" #validity_date="ngModel" placeholder="" id="validity_date" class="form-control" />
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Enquiry Subject</label>
                      <input type="text" name="enquiry_subject " [(ngModel)]="form.enquiry_subject" #enquiry_subject="ngModel" placeholder="" id="enquiry_subject" class="form-control" />
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Jurisdiction</label>
                      <input type="text" name="jurisdiction " [(ngModel)]="form.jurisdiction" #jurisdiction="ngModel" placeholder="" id="jurisdiction" class="form-control" />
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Remark</label>
                      <textarea name="remarks " [(ngModel)]="form.remarks" #remarks="ngModel" placeholder="" id="remarks" class="form-control"></textarea>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Terms & Condition</label>
                      <textarea name="terms_and_condition " [(ngModel)]="form.terms_and_condition" #terms_and_condition="ngModel" placeholder="" id="terms_and_condition" class="form-control"></textarea>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-4">
                  <div class="adform">
                      <label>Vendor<span class="asterisk">*</span></label>
                      <angular2-multiselect class="form-control borderHide" required [data]="dropdownMultiselectGroupList" [(ngModel)]="form.vendor_ids" #vendor_ids="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vendor_ids.errors }" [ngModelOptions]="{ standalone: true }"
                      [settings]="dropdownMultiselectGroupListSettings" (onSelect)="onMultiSelectAddUser($event)" (onDeSelect)="OnMultiDeSelectAddUser($event)" (onSelectAll)="onMultiSelectAddUserAll($event)" (onDeSelectAll)="onMultiDeSelectAddUserAll($event)">
                      </angular2-multiselect>
                      <div *ngIf="f.submitted && vendor_ids.errors" class="invalid-feedback">
                          <div *ngIf="vendor_ids.errors['required']">
                              Vendor is required
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="createtable-section table-responsive table_scroll" *ngIf="form.indent" #customscroll>
              <table class="text-nowrap">
                  <tr>
                      <th>Sr.&nbsp;No</th>
                      <th>Item Group</th>
                      <th>Item Sub Group</th>
                      <th>Item</th>
                      <th>Item Code</th>
                      <th>Technical Specification(S)</th>
                      <th>Part No.</th>
                      <th>Brand</th>
                      <th>Total Project Quantity</th>
                      <th>Total Received Up To Date</th>
                      <th>STOCK ON SITE</th>
                      <th>Qty/ Unit</th>
                      <th>Requested For</th>
                      <th>Priority</th>
                      <th>Application or work</th>
                      <th>Delivery Schedule</th>
                      <th>Remarks</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
                  <tr class="tablebg" *ngFor="let item of form.items; let i = index">
                      <td>#{{ i + 1 }}</td>

                      <td>
                          <div class="tablegroup">
                              <label>Item Group</label>
                              <select class="form-control" disabled name="requested_material_group{{ i + 1 }}" [(ngModel)]="form.items[i].requested_material_group" required #requested_material_group="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && requested_material_group.errors
                }" (change)="
                  setMaterialSubGroup(
                    i,
                    form.items[i].requested_material_group
                  )
                ">
                                  <option value="" disabled>Select Material Group</option>
                                  <option value="{{ materialGroup.id }}" *ngFor="let materialGroup of materialTypeList">
                                      {{ materialGroup.name }}
                                  </option>
                              </select>
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <label>Item Sub Group</label>
                              <select class="form-control" disabled name="requested_material_sub_group{{ i + 1 }}" [(ngModel)]="form.items[i].requested_material_sub_group" required #requested_material_sub_group="ngModel" [ngClass]="{
                  'is-invalid':
                    f.submitted && requested_material_sub_group.errors
                }" (change)="
                  setMaterialList(
                    i,
                    form.items[i].requested_material_sub_group
                  )
                ">
                                  <option value="" disabled>Select Material Sub Group</option>
                                  <option value="{{ subGroup.id }}" *ngFor="let subGroup of form.items[i].MaterilSubGroupList">
                                      {{ subGroup.name }}
                                  </option>
                              </select>
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <label>Item</label>
                              <select class="form-control" disabled name="requested_material{{ i + 1 }}" [(ngModel)]="form.items[i].requested_material" required #requested_material="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && requested_material.errors
                }" (change)="setMaterialMasterData(i)">
                                  <option value="" disabled>Select Material</option>
                                  <option value="{{ masterData.id }}" *ngFor="let masterData of form.items[i].MaterilFilterList">
                                      {{ masterData.material_name }}
                                  </option>
                              </select>
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <label>{{ form.items[i]?.MaterialmasterData?.material_code }}
                              </label>
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <label>{{ form.items[i]?.MaterialmasterData?.material_nature_name }}
                              </label>
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="size_part_grade{{ i + 1 }}" [(ngModel)]="form.items[i].size_part_grade" #size_part_grade="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && size_part_grade.errors
                }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="brand{{ i + 1 }}" [(ngModel)]="form.items[i].brand" #brand="ngModel" [ngClass]="{ 'is-invalid': f.submitted && brand.errors }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="budgeted_qty{{ i + 1 }}" [(ngModel)]="form.items[i].budgeted_qty" #budgeted_qty="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && budgeted_qty.errors
                }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="total_received_uptodate{{ i + 1 }}" [(ngModel)]="form.items[i].total_received_uptodate" #total_received_uptodate="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && total_received_uptodate.errors
                }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="stock_on_site{{ i + 1 }}" [(ngModel)]="form.items[i].stock_on_site" #stock_on_site="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && stock_on_site.errors
                }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" required amountNumber pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="quantity{{ i + 1 }}" (change)="calculateAmount(i)" [(ngModel)]="form.items[i].quantity" #quantity="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && quantity.errors }" />

                              <!-- <label>Rate</label>
              <input type="text" class="form-control" id="data" placeholder="" required amountNumber
                pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="rate{{ i + 1 }}"
                (change)="calculateAmount(i)" [(ngModel)]="form.items[i].rate" #rate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && rate.errors }" /> -->

                              <select disabled *ngIf="form.items[i]?.MaterialmasterData?.unit_of_mesurement" class="form-control" id="sel1" [(ngModel)]="
                  form.items[i].MaterialmasterData.unit_of_mesurement
                " [ngModelOptions]="{ standalone: true }">
                                  <option value="{{ uomData.id }}" *ngFor="let uomData of uomList">
                                      {{ uomData.symbol }}
                                  </option>
                              </select>

                              <!-- <label>Amount</label>
              <input type="text" class="form-control" id="data" placeholder="" amountNumber
                pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="amount{{ i + 1 }}"
                [(ngModel)]="form.items[i].amount" #amount="ngModel" /> -->
                          </div>
                      </td>

                      <td>
                          <div class="tablegroup" [(ngModel)]="form.items[i].requested_for" [ngModelOptions]="{ standalone: true }">
                              <select class="form-control" id="sel1">
                                  <option value="civil">Civil</option>
                                  <option value="pnm">P & M</option>
                                  <option value="other">Other</option>
                              </select>
                          </div>
                          <div class="tablegroup">
                              <label>Charge Type</label>
                              <input type="text" class="form-control" id="data" placeholder="" [(ngModel)]="form.items[i].charge_type" [ngModelOptions]="{ standalone: true }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <label>Req. Priority</label>
                              <select class="form-control" id="sel1" name="priority{{ i + 1 }}" [(ngModel)]="form.items[i].priority" required #priority="ngModel" [ngClass]="{ 'is-invalid': f.submitted && priority.errors }">
                                  <option>Select Priority</option>
                                  <option value="low">Low</option>
                                  <option value="medium">Medium</option>
                                  <option value="high">High</option>
                              </select>
                          </div>
                          <div class="tablegroup">
                              <label>Due Date</label>
                              <input type="date" class="form-control" placeholder="" name="due_date{{ i + 1 }}" [(ngModel)]="form.items[i].due_date" required #due_date="ngModel" [ngClass]="{ 'is-invalid': f.submitted && due_date.errors }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="application{{ i + 1 }}" [(ngModel)]="form.items[i].application" #application="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && application.errors
                }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <input type="text" class="form-control" id="data" placeholder="" name="delivery_schedule{{ i + 1 }}" [(ngModel)]="form.items[i].delivery_schedule" #delivery_schedule="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && delivery_schedule.errors
                }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup" *ngFor="let note of form.items[i].notes; let N_I = index">
                              <label>{{ note.note_title }}</label>
                              <input *ngIf="note.note_title == 'Justification'" type="text" class="form-control form-control2" id="text" placeholder="" name="notes_justify{{ i + 1 }}" [(ngModel)]="form.items[i].notes[N_I].note_details" required #notes_justify="ngModel" [ngClass]="{
                  'is-invalid': f.submitted && notes_justify.errors
                }" />
                              <input *ngIf="note.note_title != 'Justification'" type="text" class="form-control form-control2" id="text" placeholder="" [(ngModel)]="form.items[i].notes[N_I].note_details" [ngModelOptions]="{ standalone: true }" />
                          </div>
                      </td>
                      <td>
                          <div class="tablegroup">
                              <label class="text-capitalize">{{ item.status }}</label>
                          </div>
                      </td>
                      <td class="align-middle">
                          <a (click)="delete(i)" type="submit" class="vector-delete">DEL
              <i class="fa" aria-hidden="true"><img src="assets/img/vector-delete.png" alt="" /></i></a>
                      </td>
                  </tr>
                  <tr *ngIf="form.items?.length == 0">
                      <td colspan="19" class="text-center">No Item Added Yet</td>
                  </tr>
              </table>
              <div class="tablescroll_btn">
                  <div class="btn_action prev_btn" (click)="previous()">
                      <i class="fa-solid fa-chevron-left"></i>
                  </div>
                  <div class="btn_action next_btn" (click)="next()">
                      <i class="fa-solid fa-chevron-right"></i>
                  </div>
              </div>
          </div>

          <div class="" *ngIf="vendor_details && mail_details?.length">
              <div class="vendortable">
                  <table class="text-center">
                      <tr>
                          <th>Vendor Name</th>
                          <th>Vendor Address</th>
                          <th>Vendor Email Id</th>
                          <th>Contact No.</th>
                          <th>Quotation URL</th>
                          <th>Quotation URL with GST</th>
                          <th>Action</th>

                      </tr>
                      <tr *ngFor="let mail of mail_details">
                          <td>{{mail.vendorName}}</td>
                          <td>{{mail.vendorAddress}}</td>
                          <td>{{mail.vendorEmail}}</td>
                          <td>{{mail.contactNo}}</td>
                          <td>
                              <button (click)="copyToClipboard(mail?.quotation_url, 'URL')" type="button" class="btn btn-sm btn-primary rounded-pill mx-1">
                                  Copy URL
                              </button>
                          </td>
                          <td>
                              <button (click)="
                      copyToClipboard(mail?.quotation_url_with_gst, 'GST URL')
                    " type="button" class="btn btn-sm rounded-pill btn-primary mx-1">
                                  Copy GST URL
                              </button>
                          </td>
                          <td>
                              <button type="button" class="btn btn-sm rounded-pill btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#generatePDF" (click)="enquiryPDF(mail.vendor_id,mail.email_send__processed_message)">Generate PDF</button>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
              <div class="btd-section">
                  <button *ngIf="!editId" type="submit" class="btn-save">SAVE</button>
                  <button *ngIf="editId" type="submit" class="btn-save">Update</button>
              </div>
          </div>
      </form>
  </div>
</div>


<!-- Modal PDF -->
<div class="modal fade" id="generatePDF" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <i class="fa-solid fa-xmark crossBTN" data-bs-dismiss="modal" aria-label="Close"></i>

          <button class="print-button" kendo-button (click)="pdf.saveAs('Purchase Enquiry.pdf')">
              <img src="assets/icons/download.jfif" alt="">
          </button>
          <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [scale]="0.8" [landscape]="false">
              <table role="presentation" style="width:100%;  border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
                  <tr>
                      <td align="center" style="padding:0;">
                          <table role="presentation" cellspacing="0" cellpadding="0" style="width:100%;  border-collapse:collapse; border:0px solid #eee;border-spacing:0;text-align:left;">

                              <tr style="margin: 0px 0px; padding: 0px 0px; border-bottom: #000 1px solid;">
                                  <td style="text-align: center;color: #548235;font-size: 24px;font-weight: 600;padding: 8px 0px 6px 0px;">
                                      <table role="presentation" style="width: 90%;margin: 30px auto;border-collapse:collapse;border:0;border-spacing:0;">
                                          <tr style="background:#ffffff; border: transparent 1px solid;">
                                              <td style="text-align: left;font-size: 13px;font-weight: 600;vertical-align: middle;"><img src="assets/Logo/infraLogo.png" style="height:45px; float: left;"></td>
                                              <td colspan="2" style="text-align: left;font-size: 12px;font-weight: 600;">
                                                  <div class="text1" style="color: #000; font-size: 18px;line-height: 28px;">
                                                      {{localStorageData?.company_details[0].name}}
                                                  </div>
                                                  <div class="text2" style="color: #000; font-size: 13px;line-height: 18px; font-weight: bold;">
                                                      {{localStorageData?.company_details[0].party_address}}
                                                      <br>

                                                  </div>
                                                  <div class="text1" style="color: #000; font-size: 16px;line-height: 28px; text-decoration: underline;">
                                                      PURCHASE ENQUIRY</div>
                                              </td>

                                          </tr>
                                      </table>
                                  </td>
                              </tr>

                              <tr style="margin: 0px 0px; padding: 0px 0px;">
                                  <td colspan="2" style="text-align: center;color: #548235;font-size: 33px;font-weight: 600;padding: 13px;">
                                      <table role="presentation" style="width:100% ;border-collapse:collapse;border:0;border-spacing:0;">
                                          <tr style="background:#ffffff; border: transparent 1px solid;">
                                              <td colspan="" style="text-align: left;margin-left:40px;width: 58%;font-size: 13px;font-weight: 600;padding: 8px 0px;">
                                                  <div class="text1" style="color: #000; font-size: 13px; text-align: left; font-weight: normal; line-height: 25px;">
                                                      To</div>
                                                  <div class="text1" style="color: #000; font-size: 13px; text-align: left; font-weight: bold; line-height: 25px;">
                                                      M/s {{generatePDFDetails.vendorName}}
                                                      <br>
                                                  </div>
                                                  <div class="text1" style="color: #000; font-size: 13px; text-align: left; font-weight: normal; line-height: 25px;">
                                                  </div>
                                                  <div class="text1" style="color: #000; font-size: 13px; text-align: left; font-weight: normal; line-height: 25px;">
                                                      Address: {{generatePDFDetails.vendorAddress}}
                                                      <br> GST : {{generatePDFDetails.vendorGST}}
                                                      <br> Contact : {{generatePDFDetails.vendorContact}}
                                                      <br> Email : {{generatePDFDetails.vendorEmail}}
                                                      <br>

                                                  </div>

                                              </td>
                                              <td colspan="" style="text-align: left;font-size: 13px;font-weight: 600;padding: 8px 0px; float: right;">
                                                  <div class="text1" style="color: #000; font-size: 13px; text-align: left; font-weight: normal; line-height: 25px;">
                                                      <span style="width: auto; font-weight: bold;margin-right: 4px;">Enquiry
                                                      No.:</span>{{enquiryDetails?.request_code}}
                                                  </div>
                                                  <div class="text1" style="color: #000; font-size: 13px; text-align: left; font-weight: normal; line-height: 25px;">
                                                      <span style="width: auto;font-weight: bold; margin-right: 4px;">Enquiry
                                                      Date :</span> {{enquiryDetails?.enquiry_date | date: 'dd-MM-YYYY'}}
                                                  </div>


                                              </td>
                                          </tr>

                                          <tr style="background:#ffffff; border: transparent 1px solid; margin-top: 12px;">
                                              <td colspan="3" style="text-align: left;font-size: 13px;font-weight: 600;padding: 8px 0px;">
                                                  <div class="text1 innerhtmlcontainer" [innerHTML]=generatePDFDetails.mailBody style="color: #000; font-size: 13px; text-align: left;font-weight: bold; line-height: 25px;">
                                                    
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr style="background:#ffffff; border: transparent 1px solid; ">
                                              <td colspan="3" style="text-align: left;font-size: 13px;font-weight: 600;padding: 8px;color: black;">
                                                  <div>Please do the needful from your end.</div>
                                              </td>
                                          </tr>
                                      </table>

                                  </td>
                              </tr>

                          </table>
                      </td>
                  </tr>
              </table>
          </kendo-pdf-export>
      </div>
  </div>
</div>