<div class="personalinfo">
    <div class="flex-div">
        <div>
            <h5>Employee Name</h5>
            <h4>Sumanto Gosh</h4>
        </div>
        <div class="ename">
            <h5>Employee ID</h5>
            <h4>8003232</h4>
        </div>
        <div class="ename">
            <h5>Contact Number</h5>
            <h4>6629273287</h4>
        </div>
        <div class="ename">
            <h5>Department</h5>
            <h4>IT</h4>
        </div>
        <div class="ename">
            <h5>Marital Status</h5>
            <h4>Single</h4>
        </div>
        <div class="ename">
            <h5>Sum Assured</h5>
            <h4>₹ 150,000.00</h4>
        </div>
    </div>
</div>
<h5 class="header1">List of Dependents</h5>
<div class="dependentinfo">
    <div class="flex-div2">
        <div>
            <h5>Dependent Name</h5>
            <h4> Mr. Subahnkar Gosh</h4>
        </div>
        <div class="ename">
            <h5>Dependent Relation</h5>
            <h4>Father</h4>
        </div>
        <div class="ename">
            <h5>Dependent Gender</h5>
            <h4>Male</h4>
        </div>
        <div class="ename">
            <h5>Dependent DOB</h5>
            <h4>04/12/1982</h4>
        </div>
    </div>
</div>
<div class="noteinfo">
    <div>
        <h6>Please note the following</h6>
    </div>
    <div>
        <ul>
            <li class="notelist">
                <h5>
                    <p class="notetext">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor tristique dolor, a
                        sollicitudin augue. Sed semper tortor lorem, eget aliquet erat volutpat finibus. Aenean ut
                        blandit augue. Praesent non scelerisque dui, aliquam vulputate turpis. Ut sapien orci, maximus
                        sodales lectus vel, mollis tristique risus. Aenean eu rutrum ligula. Cras pretium est neque, a
                        tempus leo malesuada nec. Nam fringilla erat at mauris tempor semper. Nunc rhoncus sapien et
                        massa placerat, vel tristique mauris gravida. Duis iaculis tellus pellentesque felis dapibus,
                        quis tincidunt velit pharetra.
                    </p>
                </h5>
            </li>
        </ul>
    </div>
</div>