
.accordion{
    margin-bottom: 15px;
    }
    
.accordion-item {
    color: var(--bs-accordion-color);
    background-color: #f4f4f4;
    border: #f4f4f4;
    }
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 20px;
    color: #666666;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    background-color: #f4f4f4 !important;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    border-radius: 0px;
    border: #f4f4f4 1px solid;
    }
.btd-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
    } 
.btn-save{
    background-image: linear-gradient(to right, #40d4e6, #6675fe);
    font-weight: initial;
    padding: 12px 30px;
    margin-top: 8px;
    border-radius: 28px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    float: right;
    min-width: 130px;
    margin-left: 15px;
    }
          
.btn-save:hover {
    background-image: linear-gradient(to right, #6675fe, #40d4e6);
    color: white;
    }
.btn-cancel {
    background-image: linear-gradient(to right, #888888, #6e6e6e);
    font-weight: initial;
    padding: 12px 30px;
    margin-top: 8px;
    border-radius: 28px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    float: right;
    min-width: 130px;
    margin-left: 15px;
    }
.btn-cancel:hover {
    background-image: linear-gradient(to right, #6e6e6e, #888888);
    color: white;
    }

.advanced-search{
    margin: 0px 0px 25px 0px;
    padding: 23px 15px;
    background: #f4f4f4;
    width: 100%;
    position: relative;  
    }
.advanced-search h3{
    margin: 0px 0px 22px 0px;
    padding: 0px 0px;
    font-size: 20px;
    color: #666666;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
    width: 100%; 
    }
.advancedform {
    margin-top: 16px;
    position: relative;
    }
.advancedform .form-control {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #9D9D9D;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 42px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    appearance: auto;
    }
.form-control::placeholder {
    color: #9D9D9D;
    opacity: 1;
    }
.adform {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    width: 100%;
    margin-bottom: 12px;
    }
.adform .form-control {
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #9D9D9D;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 42px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    appearance: auto;
    }
.adform .form-control2 {
        display: block;
        width: 100%;
        padding: 12px 16px;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #9D9D9D;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 42px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: relative;
        appearance: auto;
        }
.adform .input-group > .form-control {
            position: relative;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
          }
 .adform .input-group-text {
            display: flex;
            align-items: center;
            padding: 12px 17px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--bs-body-color);
            text-align: center;
            white-space: nowrap;
            background-color: var(--bs-tertiary-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: 42px;
        }
.adform .input-group>.input-group-append>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: var(--bs-border-width) solid var(--bs-border-color);
    background: #fff;
    color: #a8a2a2;
  }
.adform label {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: #666;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
    vertical-align: middle;
    text-align: right;
    width: auto;
    } 
.adform .form-check-inline {
    margin-right: 36px;
    }
.adform .form-check-input[type="radio"] {
    margin-right: 5px;
    }
.advancedform label {
    display: inline-block;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    margin: 10px 0px;
    vertical-align: middle;
    text-align: right;
    width: 100%;
    } 
.advancedform-sect{
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    position: relative;
    }






















