<div class="cards-list">
    <div class="card 1" [routerLink]="['/hrms/mediclaim/view-mediclaim']">
        <div class="card_image">
            <img src="assets/img/menu1.png" />
        </div>
        <div class="card_title">
            <p>Mediclaim Enrollment View</p>
        </div>
    </div>

    <div class="card 2" [routerLink]="['/hrms/mediclaim/useful-information']">
        <div class="card_image">
            <img src="assets/img/menu2.png" />
        </div>
        <div class="card_title">
            <p>Useful Information</p>
        </div>
    </div>
</div>