.custom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    max-height: 20px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding: 5px;
  }

  .dropdown-content {
    display: none;
    right: -10px;
    top: 26px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 54%);
    z-index: 1;
    border-radius: 13px;
    padding: 0px 5px;
  }

  .dropdown-content::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: white;
    position: absolute;
    transform: rotateZ(180deg);
    top: -2px;
    zoom: 2;
    right: 7px;
  }

  .img-container {
    span {
      display: inline-flex;
      min-width: 165px;
      padding: 3px 10px;
      cursor: pointer;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

}

.table-inde-icon {
  max-width: 20px;
  margin-right: 20px;
}

td {
  .button {
    background-color: #d9d9d9;
    margin: 2px 3px;
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
  }
}

.viewAll {
  display: flex !important;
}

.viewState {
  display: flex !important;
}

.multi-select-dropdown {
  min-width: 97px !important;
}

::ng-deep.viewAll {
  .multi-select-dropdown {
    .list-area {
      min-width: 200px;
    }
  }
}

::ng-deep.viewState {
  .multi-select-dropdown {
    .list-area {
      min-width: 200px;
    }
  }
}

::ng-deep.multi-select-dropdown .list-area {
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 54%) !important;
}

.viewAll {
  ::ng-deep.dropdown-list ul {
    pointer-events: none;
  }

  ::ng-deep.list-filter {
    display: none;
  }

  ::ng-deep.select-all {
    display: none;
  }
}

.viewState {
  ::ng-deep.dropdown-list ul {
    pointer-events: none;
  }

  ::ng-deep.list-filter {
    display: none;
  }

  ::ng-deep.select-all {
    display: none;
  }
}

::ng-deep.cuppa-dropdown {
  position: relative;
}

::ng-deep.dropdown-list {
  position: absolute !important;
  top: 38px !important;
  left: 0 !important;
}

::ng-deep.arrow-down {
  top: 0 !important;
  bottom: unset !important;
  margin-left: 30px !important;
  transform: unset !important;
}

.export {
  width: 15%;
  height: 15%;
  margin-right: 10px;
}

.downloadall {
  padding: 5px 0px 5px 10px !important;
  cursor: pointer;
}

.offcanvas.offcanvas-end {
  width: 65% !important;
}


.scrollable-table {
  margin-left: 275px !important;
  width: fit-content !important;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 204px !important;
  width: calc(100% - 305px) !important;
  padding: 5px 4px;
  font-weight: 400;
  min-height: 42px;
  text-align: center;

}

.posion-fixed-left {
  position: absolute !important;
  left: 64px !important;
  min-height: 29px !important;
  min-width: 154px !important;
}

.posion-fixed-left-sno {
  position: absolute !important;
  left: 10px !important;
  min-height: 29px !important;
  min-width: 54px !important;
}

.posion-fixed-right {
  min-width: 213px !important;
  min-height: 29px !important;
}

.lstheight {
  height: 87px !important;
  min-width: 206px !important;
  margin-top: -1px;
}

.posion-fixed-right-survey {
  position: absolute !important;
  right: 10px !important;
  min-width: 213px !important;
  min-height: 0px !important;
}

.surveybutton {
  cursor: pointer;
  height: 0px;
  min-width: 205px !important;
}

.export {
  width: 15%;
  height: 15%;
  margin-right: 10px;
}

.downloadall {
  padding: 5px 0px 5px 10px !important;
  cursor: pointer;
}

.text-info {
  cursor: pointer;
}

.table-filter {
  background: unset;
  background-image: unset !important;
  color: black !important;
  padding: 8px 5px !important;
  font-weight: 300 !important;
}

.table-filter.active {
  color: #55A4FF !important;
  border-bottom: 2px solid !important;
  border-radius: 0 !important;
  font-weight: 400 !important;
}



.img-container {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  justify-content: center;

  span:hover {
    background-color: #d9d9d9;
  }
}

.fstwidth {
  min-width: 259px !important;
}

.selactiontab {
  cursor: pointer;
}

.resultpart {
  background-color: rgb(242, 245, 30) !important;
  color: rgb(204, 43, 43) !important;
  border-color: rgb(204, 43, 43) !important;
  height: 28px;
}

.no-padding {
  padding: 0 !important;
}

.result-padding {
  border: 0px !important;
  border-color: transparent !important;
  padding: 0 !important;
}

.entiti {
  height: 86px;
  padding-top: 25px !important;
}

.headwidth {
  min-width: 105px !important;
  width: fit-content;
  min-height: 70px;
  z-index: inherit;
}

.headwidth2 {
  min-width: 90px !important;
  width: fit-content !important;
  min-height: 70px !important;
  z-index: inherit !important;
}

.tdwidth {
  min-width: 105px !important;
  // min-height: 70px;
  height: 29px;
  z-index: inherit;
  width: fit-content;
}

.editwidth {
  width: 210px !important;
}

.actionbutton {
  width: 15px !important;
}
.addressform {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 12px;
	width: 100%;
	margin-bottom: 7px;
 label {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 14px;
    color: #666;
    font-weight: 400;
    margin: 0px 0px;
    vertical-align: middle;
    text-align: right;
    min-width: 110px;
    }
 .form-control{
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #9D9D9D;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    appearance: auto;
    }
  }

  .component-body table th {
    background-color: #5577ff;
    color: white;
    font-size: 14px !important;
    padding: 10px !important;
    font-weight: 600 !important;
    line-height: 15px;
  }
  .component-body table td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: 15px !important;
  }
  .component-header button {
    background-image: linear-gradient(to right, #40d4e6, #6675fe);
    font-weight: initial;
    padding: 7px 11px !important;
    border-radius: 4px !important;
    border: none;
    color: white;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;
    min-width: 97px !important;
  }