<div class="main-container">
    <div class="component-header">
        <h2>BOQ List</h2>
        <div class="action-button-container">
            <!-- <button class="btn btn-secondary" type="button" id="dropdownSelectColoum" data-bs-toggle="dropdown"
                aria-expanded="false">EXPORT<img src="assets/usermanagement/Export.png"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownSelectColoum" style="width: 0%;">
                <li class="downloadall" (click)="downloadPdf()">
                    <span><img src="assets/usermanagement/download_pdf.png" class="export"><strong>PDF</strong> </span>
                </li>
                <li class="downloadall" (click)="downloadCsv()">
                    <span><img src="assets/usermanagement/download_csv.png" class="export"><strong>CSV</strong> </span>
                </li>
            </ul> -->
            <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightLabeladdrole"
                 aria-controls="offcanvasRight">ADD NEW BOQ<img
                    src="assets/header/add.png" alt=""></button>
        </div>
    </div>
    <div class="component-body">
        <table>

            <tr>
                <th class="actionbutton">S.No</th>
                <th>Name</th>
                <th>Version</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th class="actionbutton">Action </th>
            </tr>

            <tr *ngFor="let company of budgetList; let i = index">
                <td class="actionbutton">{{ (pageSize*(page-1)) + i+1.}}</td>
                <td>
                    {{company.name}}
                </td>
                <td>
                    {{company.version}}
                </td>
                <td>
                    {{company.start_date}}
                </td>
                <td>
                    {{company.end_date}}
                </td>
                <td>
                    {{company.status}}
                </td>
                <td class="actionbutton">
                    <div class="custom-section">
                        <div class="dropdown">
                            <span class="dropbtn"><img src="assets/icons/dots.png" alt=""></span>
                            <div class="dropdown-content editwidth">
                                <div class="img-container">
                                    <span class="mt-2" (click)="editbyID(company.id)" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRightEditRole">
                                        <img src="assets/usermanagement/edit.png" alt=""
                                            aria-controls="offcanvasRight">&nbsp;&nbsp;
                                        <label>Edit BOQ</label>
                                    </span>
                                    <span class="mt-2" (click)="AmendbyID(company.id)">
                                        <img src="assets/icons/amend.jpg" alt=""
                                            aria-controls="offcanvasRight">&nbsp;&nbsp;
                                        <label>Amend BOQ</label>
                                    </span>
                                    <span class="mt-2" (click)="linkwithLMPI(company.id,company.status)"
                                        data-bs-toggle="offcanvas">
                                        <img src="assets/icons/lmpi.jpg" alt="">&nbsp;&nbsp;
                                        <label>BOQ</label>
                                    </span>
                                    <span class="mt-2" (click)="viewDetailsByID(company.id)">
                                        <img src="assets/icons/details.png" alt=""
                                            aria-controls="offcanvasRight">&nbsp;&nbsp;
                                        <label>View Details</label>
                                    </span>
                                    <!-- <span (click)="ByID(company.id)" data-bs-toggle="modal"
                                        data-bs-target="#deleteUser"><img src="assets/usermanagement/delete.png"
                                            alt="">&nbsp;&nbsp;<label>Delete BOQ</label></span> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr class="text-center">
                <td colspan="7" *ngIf="budgetList.length == 0">No Budget found.</td>
            </tr>

        </table>

    </div><br>

    <div class="component-header">
        <h2>BOQ History</h2>
    </div>

    <div class="component-body">
        <table>

            <tr>
                <th class="actionbutton">S.No</th>
                <th>Name</th>
                <th>Version</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th class="actionbutton">Action </th>
            </tr>

            <tr *ngFor="let company of budgetHistoryList; let i = index">
                <td class="actionbutton">{{ (pageSize*(page-1)) + i+1.}}</td>
                <td>
                    {{company.name}}
                </td>
                <td>
                    {{company.version}}
                </td>
                <td>
                    {{company.start_date}}
                </td>
                <td>
                    {{company.end_date}}
                </td>
                <td>
                    {{company.status}}
                </td>
                <td class="actionbutton">
                    <div class="custom-section">
                        <div class="dropdown">
                            <span class="dropbtn"><img src="assets/icons/dots.png" alt=""></span>
                            <div class="dropdown-content editwidth">
                                <div class="img-container">
                                    <span class="mt-2" (click)="editbyID(company.id)" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRightEditRole">
                                        <img src="assets/usermanagement/edit.png" alt=""
                                            aria-controls="offcanvasRight">&nbsp;&nbsp;
                                        <label>Edit BOQ</label>
                                    </span>
                                    <span class="mt-2" (click)="AmendbyID(company.id)">
                                        <img src="assets/icons/amend.jpg" alt=""
                                            aria-controls="offcanvasRight">&nbsp;&nbsp;
                                        <label>Amend BOQ</label>
                                    </span>
                                    <span class="mt-2" (click)="linkwithLMPI(company.id,company.status)"
                                        data-bs-toggle="offcanvas">
                                        <img src="assets/icons/lmpi.jpg" alt="">&nbsp;&nbsp;
                                        <label>BOQ</label>
                                    </span>
                                    <span class="mt-2" (click)="viewDetailsByID(company.id)">
                                        <img src="assets/icons/details.png" alt=""
                                            aria-controls="offcanvasRight">&nbsp;&nbsp;
                                        <label>View Details</label>
                                    </span>
                                    <!-- <span (click)="deleteByID(company.id)" data-bs-toggle="modal"
                                        data-bs-target="#deleteUser"><img src="assets/usermanagement/delete.png"
                                            alt="">&nbsp;&nbsp;<label>Delete BOQ</label></span> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr class="text-center">
                <td colspan="7" *ngIf="budgetList.length == 0">No Budget found.</td>
            </tr>

        </table>

    </div>


    <!-- <app-table-paginate></app-table-paginate> -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightLabeladdrole"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Add BOQ</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <app-bidget-details (closeCanvas)="closeCanvas()" [scope]="'add'"></app-bidget-details>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightLabellmpi" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">LMPI</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-bidget-details (closeCanvas)="closeCanvas()" [scope]="'lmpi'"
            [selectedID]="selectedID"></app-bidget-details>
        <app-budget-lmpi [disableModifyBoq]="disableModifyBoq" [selectedBOQ]="selectedID"></app-budget-lmpi>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightLabelAmend" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Amend BOQ</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-bidget-details (closeCanvas)="closeCanvas()" [scope]="'amend'"
            [selectedID]="selectedID"></app-bidget-details>
        <!-- <app-budget-lmpi></app-budget-lmpi> -->
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightLabelViewBudget"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">View Budget</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="closeViewDetails()"></button>
    </div>
    <div class="offcanvas-body">
        <app-bidget-details (closeCanvas)="closeCanvas()" [scope]="'lmpi'"
            [selectedID]="selectedID"></app-bidget-details>
        <app-view-budget *ngIf="viewDewtails == true" [selectedBOQ]="selectedID"></app-view-budget>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightEditRole" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Edit BOQ</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-bidget-details #editCompany [scope]="'edit'" (closeCanvas)="closeCanvas()"
            [selectedID]="selectedID"></app-bidget-details>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="deleteUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Are You Sure ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete this BOQ ?
            </div>
            <div class="modal-footer">
                <button (click)="deleteAlert()" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>