<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addUpdateMaterialWastage()" novalidate>
    
    <!-- <div class="mb-3 float-now" >
        <select class="form-select" name="financialyear" [ngClass]="{ 'is-invalid': f.submitted && financialyear.errors }"
            [(ngModel)]="form.financialyear" required #financialyear="ngModel">
            <option value="">Financial Year</option>
            <option value="{{projectSite.id}}" *ngFor="let projectSite of financialYearData">{{projectSite.description}}</option>
        </select>
        <label class="floating-label">Financial Year <span class="asterisk">*</span></label>
    </div> -->
    <div class="mb-3" [ngClass]="{ 'float-now': form.item_stock_jv_no != '' }">
        <div class="row">
            <div class="col-md-9">
                <input type="text" placeholder="JV code" name="item_stock_jv_code" class="form-control" [(ngModel)]="form.item_stock_jv_code" #item_stock_jv_code="ngModel">
            </div>
            <div class="col-md-3">
                <input type="number" placeholder="JV No" name="item_stock_jv_no" class="form-control" [(ngModel)]="form.item_stock_jv_no" #item_stock_jv_no="ngModel">
            </div>
        </div>
        <!-- <label class="floating-label">JV No.</label> -->
        <!-- <input type="text" name="item_stock_jv_no" class="form-control"> -->
    </div>
    <div class="mb-3 float-now" >
        <input type="date" name="date" class="form-control" [(ngModel)]="form.date" #date="ngModel">
        <label class="floating-label">Date</label>
    </div>
    <div class="mb-3" [ngClass]="{ 'float-now': form.remark != '' }">
        <textarea name="remark" class="form-control" [(ngModel)]="form.remark" #remark="ngModel" cols="30" rows="5" class="form-control"></textarea>
        <label class="floating-label">Remark</label>
    </div>
    
    <!-- Issue item -->
    <div class="createtable-section table-responsive">
        <h4 >Issue Item</h4>
        <table class="text-nowrap">
            <tr>
                <th colspan="1" style="min-width: 150px;">Item</th>
                <th colspan="1" style="min-width: 150px;">Qty./Unit</th>
                
                <th colspan="1" style="min-width: 150px;">Rate & <br>Amount</th>
                <th colspan="1" style="min-width: 150px;">Location</th>
                <th colspan="1" style="min-width: 150px;">Type</th>
                
                <th>Action</th>
            </tr>
            <tr class="">
                <td colspan="1"></td>
                <td colspan="1"></td>
                
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                
                <td class="align-middle">
                    <a  (click)="addIssueItem()" class="tablebtn-save">ADD <i class="fa" aria-hidden="true"><img src="assets/img/vector-add.png" alt=""></i></a>
                </td>
            </tr>
            <tr class="tablebg" *ngFor="let item of form.issue_items; let i = index">
                <td colspan="1">
                    <!-- <div class="mb-3" >
                        <ng-select  class=""  name="requested_material_group{{i+1}}" [(ngModel)]="form.issue_items[i].requested_material_group" [ngModelOptions]="{standalone: true}"  #requested_material_group="ngModel" (change)="groupTypeChange(form.issue_items[i].requested_material_group, i)">
                            <ng-option *ngFor="let materialGroup of masterlist" [value]="materialGroup.id">{{materialGroup.name}}</ng-option>
                        </ng-select>
                        <label class="floating-label-select">Item Group</label>
                    </div>
                    <div class="mb-3" [ngClass]="{ 'float-now': form.issue_items[i].requested_material_sub_group != '' }">
                        <ng-select  class="" name="requested_material_sub_group{{i+1}}" [(ngModel)]="form.issue_items[i].requested_material_sub_group" [ngModelOptions]="{standalone: true}" #requested_material_sub_group="ngModel" (change)="subTypeChange(form.issue_items[i].requested_material_sub_group, i)">
                            <ng-option *ngFor="let subGroup of form.issue_items[i].MaterilSubGroupList" [value]="subGroup.id">{{subGroup.name}}</ng-option>
                        </ng-select>

                        <label class="floating-label-select">Item Sub Group</label>
                    </div> -->
                    <div class="mb-3" [ngClass]="{ 'float-now': form.issue_items[i].requested_material_issue != '' }">
                        <!-- (change)="setMaterialMasterData(i, false)" -->
                        <ng-select  class="" name="requested_material_issue{{i+1}}" [(ngModel)]="form.issue_items[i].requested_material_issue" [ngModelOptions]="{standalone: true}" required #requested_material_issue="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material_issue.errors }" (change)="changeIssueItem(i)">
                            <ng-option *ngFor="let masterData of MaterilFilterList" [value]="masterData.id">{{masterData.material_name}}</ng-option>
                        </ng-select>

                        <label class="floating-label-select">Item
                            <!-- <span class="asterisk">*</span> -->
                        </label>
                    </div>
                </td>
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{ 'float-now': form.issue_items[i].quantity_issue != '' }">
                        <input type="number" name="quantity_issue{{i+1}}" class="form-control" [(ngModel)]="form.issue_items[i].quantity_issue" required #quantity_issue="ngModel" [ngClass]="{ 'is-invalid': f.submitted && quantity_issue.errors }" (change)="calculateIssueAmount(i)">
                        <label class="floating-label">Qty.</label>
                    </div>
                    <div class="mb-3" [ngClass]="{ 'float-now': form.issue_items[i].unit_issue != '' }">
                        <select class="form-control" name="unit_issue{{i+1}}" [(ngModel)]="form.issue_items[i].unit_issue" #unit_issue="ngModel">

                            <option *ngFor="let unit of uomList; let i = index" value="{{unit.id}}">{{unit.symbol}}</option>
                        </select>
                        <label class="floating-label-select">Unit
                            <!-- <span class="asterisk">*</span> -->
                        </label>
                    </div>
                </td>
                
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{'float-now': form.issue_items[i].rate_issue != ''}">
                        <input type="number" name="rate_issue{{i+1}}" class="form-control" [(ngModel)]="form.issue_items[i].rate_issue" required #rate_issue="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rate_issue.errors }" (change)="calculateIssueAmount(i)">
                        <label class="floating-label">Rate</label>
                    </div>
                    <div class="mb-3" [ngClass]="{'float-now': form.issue_items[i].amount_issue != ''}">
                        <input type="number" name="amount_issue{{i+1}}" class="form-control" [(ngModel)]="form.issue_items[i].amount_issue" #amount_issue="ngModel">
                        <label class="floating-label">Amount</label>
                    </div>
                </td>
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{'float-now': form.issue_items[i].store_issue != ''}">
                        <select class="form-control" name="store_issue{{i+1}}" [(ngModel)]="form.issue_items[i].store_issue" #store_issue="ngModel" 
                        >
                            <option disabled>-- select --</option>
                            <option *ngFor="let storeData of storeList" value="{{storeData.id}}">
                                {{storeData.store_name}}</option>
                        </select>
                        <label class="floating-label-select">Location</label>
                    </div>
                </td>
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{ 'float-now': form.issue_items[i].type_issue != '' }">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="radio" name="type_issue{{i+1}}" [(ngModel)]="form.issue_items[i].type_issue" #type_issue="ngModel" value="self"> Self 
                            </div>
                            <div class="col-md-6">
                                <input type="radio" name="type_issue{{i+1}}" [(ngModel)]="form.issue_items[i].type_issue" #type_issue="ngModel" value="party"> Party
                            </div>
                        </div>
                    </div>
                </td>
                
                
                <td class="align-middle">
                    <a (click)="deleteIssueItem(i)" type="submit" class="vector-delete">DEL <i class="fa" aria-hidden="true"><img src="assets/img/vector-delete.png" alt=""></i></a>
                    
                </td>
            </tr>
        </table>
    </div>

    <!-- Receive item -->
    <div class="createtable-section table-responsive">
        <h4 >Receive Item</h4>
        <table class="text-nowrap">
            <tr>
                <th colspan="1" style="min-width: 150px;">Item</th>
                <th colspan="1" style="min-width: 150px;">Qty./Unit</th>
                
                <th colspan="1" style="min-width: 150px;">Rate & <br>Amount</th>
                <th colspan="1" style="min-width: 150px;">Location</th>
                <th colspan="1" style="min-width: 150px;">Type</th>
                
                <th>Action</th>
            </tr>
            <tr class="">
                <td colspan="1"></td>
                <td colspan="1"></td>
                
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                
                <td class="align-middle">
                    <a  (click)="addReceiveItem()" class="tablebtn-save">ADD <i class="fa" aria-hidden="true"><img src="assets/img/vector-add.png" alt=""></i></a>
                </td>
            </tr>
            <tr class="tablebg" *ngFor="let item of form.receive_items; let i = index">
                <td colspan="1">
                    <!-- <div class="mb-3" >
                        <ng-select  class=""  name="requested_material_group{{i+1}}" [(ngModel)]="form.receive_items[i].requested_material_group" [ngModelOptions]="{standalone: true}"  #requested_material_group="ngModel" (change)="groupTypeChange(form.receive_items[i].requested_material_group, i)">
                            <ng-option *ngFor="let materialGroup of masterlist" [value]="materialGroup.id">{{materialGroup.name}}</ng-option>
                        </ng-select>
                        <label class="floating-label-select">Item Group</label>
                    </div>
                    <div class="mb-3" [ngClass]="{ 'float-now': form.receive_items[i].requested_material_sub_group != '' }">
                        <ng-select  class="" name="requested_material_sub_group{{i+1}}" [(ngModel)]="form.receive_items[i].requested_material_sub_group" [ngModelOptions]="{standalone: true}" #requested_material_sub_group="ngModel" (change)="subTypeChange(form.receive_items[i].requested_material_sub_group, i)">
                            <ng-option *ngFor="let subGroup of form.receive_items[i].MaterilSubGroupList" [value]="subGroup.id">{{subGroup.name}}</ng-option>
                        </ng-select>

                        <label class="floating-label-select">Item Sub Group</label>
                    </div> -->
                    <div class="mb-3" [ngClass]="{ 'float-now': form.receive_items[i].requested_material_receive != '' }">
                        <!-- (change)="setMaterialMasterData(i, false)" -->
                        <ng-select  class="" name="requested_material_receive{{i+1}}" [(ngModel)]="form.receive_items[i].requested_material_receive" [ngModelOptions]="{standalone: true}" required #requested_material_receive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material_receive.errors }" (change)="changeReceiveItem(i)">
                            <ng-option *ngFor="let masterData of MaterilFilterList" [value]="masterData.id">{{masterData.material_name}}</ng-option>
                        </ng-select>

                        <label class="floating-label-select">Item
                            <!-- <span class="asterisk">*</span> -->
                        </label>
                    </div>
                </td>
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{ 'float-now': form.receive_items[i].quantity_receive != '' }">
                        <input type="number" name="quantity_receive{{i+1}}" class="form-control" [(ngModel)]="form.receive_items[i].quantity_receive" required #quantity_receive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && quantity_receive.errors }" (change)="calculateReceiveAmount(i)">
                        <label class="floating-label">Qty.</label>
                    </div>
                    <div class="mb-3" [ngClass]="{ 'float-now': form.receive_items[i].unit_receive != '' }">
                        <select class="form-control" name="unit_receive{{i+1}}" [(ngModel)]="form.receive_items[i].unit_receive" #unit_receive="ngModel">

                            <option *ngFor="let unit of uomList; let i = index" value="{{unit.id}}">{{unit.symbol}}</option>
                        </select>
                        <label class="floating-label-select">Unit
                            <!-- <span class="asterisk">*</span> -->
                        </label>
                    </div>
                </td>
                
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{'float-now': form.receive_items[i].rate_receive != ''}">
                        <input type="number" name="rate_receive{{i+1}}" class="form-control" [(ngModel)]="form.receive_items[i].rate_receive" required #rate_receive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rate_receive.errors }" (change)="calculateReceiveAmount(i)">
                        <label class="floating-label">Rate</label>
                    </div>
                    <div class="mb-3" [ngClass]="{'float-now': form.receive_items[i].amount_receive != ''}">
                        <input type="number" name="amount_receive{{i+1}}" class="form-control" [(ngModel)]="form.receive_items[i].amount_receive" #amount_receive="ngModel">
                        <label class="floating-label">Amount</label>
                    </div>
                </td>
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{'float-now': form.receive_items[i].store_receive != ''}">
                        <select class="form-control" name="store_receive{{i+1}}" [(ngModel)]="form.receive_items[i].store_receive" #store_receive="ngModel" >
                            <option disabled>-- select --</option>
                            <option *ngFor="let storeData of storeList" value="{{storeData.id}}">
                                {{storeData.store_name}}</option>
                        </select>
                        <label class="floating-label-select">Location</label>
                    </div>
                </td>
                <td colspan="1">
                    <div class="mb-3" [ngClass]="{ 'float-now': form.receive_items[i].type_receive != '' }">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="radio" name="type_receive{{i+1}}" [(ngModel)]="form.receive_items[i].type_receive" #type_receive="ngModel" value="self"> Self 
                            </div>
                            <div class="col-md-6">
                                <input type="radio" name="type_receive{{i+1}}" [(ngModel)]="form.receive_items[i].type_receive" #type_receive="ngModel" value="party"> Party
                            </div>
                        </div>
                    </div>
                </td>
                
                
                <td class="align-middle">
                    <a (click)="deleteReceiveItem(i)" type="submit" class="vector-delete">DEL <i class="fa" aria-hidden="true"><img src="assets/img/vector-delete.png" alt=""></i></a>
                    
                </td>
            </tr>
        </table>
    </div>

    <!-- <div class="mb-3 eachfield">
        <input type="file" multiple="multiple" (change)="handleUpload($event)" class="custom-file-input" id="customFile">
    </div> -->

    <div class="pull-right">
        <button class="btn-save" type="submit">Save</button>
    </div>
</form>
    