.pms-loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #000000c4;
    top: 0;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        position: absolute;
        color: white;
        padding-top: 160px;
        font-weight: 200;
    }
    .loader {
        width: 64px;
        height: 64px;
        position: relative;
        background-image: linear-gradient(#e4101c 16px, transparent 0), linear-gradient(#5577ff 16px, transparent 0), linear-gradient(#ffee00 16px, transparent 0), linear-gradient(#FFF 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top, left bottom, right top, right bottom;
        animation: rotate 1s linear infinite;
    }

    @keyframes rotate {
        0% {
            width: 64px;
            height: 64px;
            transform: rotate(0deg)
        }

        50% {
            width: 30px;
            height: 30px;
            transform: rotate(180deg)
        }

        100% {
            width: 64px;
            height: 64px;
            transform: rotate(360deg)
        }
    }

}

.modal-body {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    max-height: calc(100vh - 130px);
}

.pdfClose {
    border: none;
}
.downloadButton {
    background-image: url('../assets/icons/download.jfif');
    height: 20px;
    width: 20px;
    border: none;
    background-size: cover;
    position: absolute;
    right: 100px;
}
#viewDPRDoc {
    z-index: 99999999999;
}

.modal-custhead{
    justify-content: flex-end;
}