<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
  <div class="tabs">
    <div [ngClass]="{ 'is-invalid': false, active: activeTab[1] }" class="tab" (click)="openTab(event, 'tab1', 1)">
      Tax Details
    </div>
    <div [ngClass]="{ 'is-invalid': false, active: activeTab[2] }" class="tab" (click)="openTab(event, 'tab2', 2)">
      Terms & Conditions
    </div>
    <div [ngClass]="{
        'is-invalid': f.submitted && !f.form.valid,
        active: activeTab[3],
      }"
      class="tab" (click)="openTab(event, 'tab3', 3)">
      Payment Schedule
    </div>
  </div>

  <div class="tab-content p-0" id="tab1">
    <div class="createtable-section table-responsive">
      <table class="text-nowrap">
        <ng-container *ngFor="let taxRow of purchase_tax; let i = index">
          <tr *ngIf="!taxRow.hidden">
            <td style=" text-align: right; ">
              {{taxRow.calculate_on}}
              <div class="addressform" *ngIf="purchase_tax[i].options.length > 0">
                <div class="requested-group">
                  <div class="form-check-inline" *ngFor="let option of purchase_tax[i].options">
                    <label class="form-check-label">
                      <input [disabled]="disableEdit" name="selectedOption{{i+1}}" [(ngModel)]="purchase_tax[i].choice"
                        type="radio" (change)="changeRadioOptions(i)" class="form-check-input" value="{{option.value}}">
                      {{option.name}}
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td>{{taxRow.name}}</td>
            <td>
              <div class="tablegroup" *ngIf="purchase_tax[i].inclided_applicable">
                <section class="chackbox-container hideOnPrintScreen">
                  <input [disabled]="disableEdit" type="checkbox" (change)="calculateTaxes()" name="included{{i+1}}"
                    id="" [(ngModel)]="purchase_tax[i].included">
                  <p>Incl.</p>
                </section>
              </div>
            </td>
            <td>
              <span *ngIf="purchase_tax[i].tax_head_applicable">@</span>
            </td>
            <td>
              <div class="tablegroup" *ngIf="purchase_tax[i].tax_head_applicable">
                <select [disabled]="disableEdit" class="form-control" id="sel1" (change)="taxHeadChange(i,'')"
                  name="tax_head{{i+1}}" [(ngModel)]="purchase_tax[i].tax_head" #tax_head="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && tax_head.errors }">
                  <option value="">Select </option>
                  <option *ngFor="let tax of taxHeads" value="{{tax.id}}">{{tax.name}}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="tablegroup" *ngIf="purchase_tax[i].tax_percentage_applicable">
                <input type="text" [disabled]="disableEdit" class="form-control" placeholder="" amountNumber
                  pattern="^(?:100(?:\.00?)?|\d?\d(?:\.\d\d?)?)$" (change)="calculateTaxes()"
                  name="tax_percentage{{i+1}}" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="purchase_tax[i].tax_percentage" #tax_percentage="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && tax_percentage.errors }">
              </div>
            </td>
            <td>
              <span *ngIf="purchase_tax[i].tax_percentage_applicable">%</span>
            </td>
            <td>
              <div class="tablegroup">
                <input type="text" [disabled]="disableEdit" class="form-control" placeholder="" amountNumber
                  (change)="changeamount(i)" name="tax_amount{{i+1}}" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="purchase_tax[i].tax_amount" #tax_amount="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && tax_amount.errors }">
              </div>
            </td>
          </tr>
        </ng-container>
        <tr>
          <td></td>
          <td>Total Value</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            {{ this.form?.afterAll_tax_Amount |currency:"INR":"symbol"}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="tab-content" id="tab2">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Terms & Conditions</legend>
      <div class="createtable-section">
        <table>
          <tr>
            <th>Sr.&nbsp;No</th>
            <!-- <th>Jurisdiction</th> -->
            <th>Terms & Condition</th>
            <!-- <th>Remarks</th> -->
          </tr>

          <tr class="tablebg" *ngFor="let item of form.terms_and_conditions; let i = index">
            <td width="5%">{{ i + 1 }}
              <input type="checkbox" name="is_checked{{i}}" [(ngModel)]="form.terms_and_conditions[i].is_checked"
                [ngModelOptions]="{ standalone: true }" #is_checked="ngModel">
            </td>

            <td>
              <input type="text" placeholder="" id="text{{ i }}" class="form-control" name="description"
                [(ngModel)]="form.terms_and_conditions[i].description" #description="ngModel"
                [ngModelOptions]="{ standalone: true }" />
            </td>

          </tr>
        </table>
      </div>
    </fieldset>
  </div>

  <div class="tab-content" id="tab3">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Payment Schedule</legend>
      <div class="createtable-section">
        <table>
          <tr>
            <th>Sr.&nbsp;No</th>
            <th>Percent %</th>
            <th style=" min-width: 230px; ">Payment Type</th>
            <th>Payment Credit Days</th>
            <th>Notify Days</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Attachment</th>
            <th>Action</th>
          </tr>
          <!-- <tr>
            <td colspan="8"></td>
            <td class="align-middle">
              <a (click)="addPaymentSchedule()" type="button" class="tablebtn-save">ADD
                <i class="fa" aria-hidden="true"><img src="assets/img/vector-add.png" alt="" /></i>
              </a>
            </td>
          </tr> -->

          <tr class="tablebg" *ngFor="let item of form.payment_schedule; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <input amountNumber type="text" [(ngModel)]="form.payment_schedule[i].percent" class="form-control"
                name="percent{{ i + 1 }}" name="percent" #percent="ngModel"
                (ngModelChange)="setPaymentScheduleAmt(i)" />
            </td>
            <td>
              <select required [(ngModel)]="form.payment_schedule[i].percent_type" class="form-control"
                name="percent_type{{ i + 1 }}" [ngClass]="{ 'is-invalid': f.submitted && percent_type.errors }" #percent_type="ngModel">
                <option disabled>-- select --</option>
                <option value="bg">BG</option>
                <option value="lc">LC (LETTER OF CREDIT)</option>
                <option value="before_dispatch">BEFORE DISPATCH</option>
                <option value="advance">ADVANCE</option>
                <option value="after_delivery">AFTER DELIVERY</option>
                <option value="after_days">AFTER DAYS</option>
                <option value="other">OTHER</option>
              </select>
            </td>
            <td>
              <input numbersOnly type="text" [(ngModel)]="form.payment_schedule[i].payment_credit_days"
                class="form-control" name="payment_credit_days{{ i + 1 }}" [ngClass]="{ 'is-invalid': f.submitted && payment_credit_days.errors }" required #payment_credit_days="ngModel" />
            </td>
            <td>
              <input type="text" numbersOnly [(ngModel)]="form.payment_schedule[i].notify_days" class="form-control"
                name="notify_days{{ i + 1 }}" #notify_days="ngModel" />
            </td>

            <td>
              <input type="text" [(ngModel)]="form.payment_schedule[i].description" class="form-control"
                name="description{{ i + 1 }}" />
            </td>
            <td>
              <input type="text" amountNumber [(ngModel)]="form.payment_schedule[i].amount" class="form-control"
                name="amount{{ i + 1 }}" #amount="ngModel" readonly />
            </td>


            <td>
              <input type="file" name="fileData{{i+1}} " [(ngModel)]="form.payment_schedule[i].fileData"
                (change)="uploadFile($event,i)" #fileData="ngModel" placeholder="" id="fileData" class="form-control">
            </td>


            <td class="align-middle">
              <a (click)="deletePaymentSchedule(i)" type="submit" class="vector-delete">DEL <i class="fa"
                  aria-hidden="true"><img src="assets/img/vector-delete.png" alt=""></i></a>
            </td>
          </tr>

          <!-- Total Row -->
          <tr class="tablebg">
            <td>Total</td>
            <td>
              <input type="text" readonly placeholder="" class="form-control" name="totalPercent"
                [(ngModel)]="payment_total_percent" />
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <input type="text" readonly placeholder="" class="form-control" name="totalAmount"
                [(ngModel)]="payment_total_amt" />
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </fieldset>
  </div>
  <button hidden #submitButton="" type="submit">Save</button>
</form>