<form role="form" [formGroup]="editcompanyForm">

  <div class="mb-3" [ngClass]="{ 'float-now': partyname != '' }">
    <input type="text" class="form-control" id="role" formControlName="party_name" [(ngModel)]="partyname"
      [ngClass]="displayFieldCss(editcompanyForm,'party_name')">
    <label class="floating-label">Enter Party Name <span class="asterisk">*</span></label>

    <div class="required" *ngIf="isFieldValid(editcompanyForm,'party_name')">
      <span class="text-danger" *ngIf="editcompanyForm.get('party_name')?.errors?.['required']">Party Name is
        required</span>
    </div>
  </div>
  <div class="mb-3" [ngClass]="{ 'float-now': partyaddress != '' }">
    <textarea type="text" class="form-control" id="role" formControlName="party_address" [(ngModel)]="partyaddress"
      [ngClass]="displayFieldCss(editcompanyForm,'party_address')"></textarea>
    <label class="floating-label">Enter Party Address <span class="asterisk">*</span></label>

    <div class="required" *ngIf="isFieldValid(editcompanyForm,'party_address')">
      <span class="text-danger" *ngIf="editcompanyForm.get('party_address')?.errors?.['required']">Party Address is
        required</span>
    </div>
  </div>
  <div class="mb-3" [ngClass]="{ 'float-now': leadmembername != '' }">
    <input type="text" class="form-control" id="role" formControlName="lead_member_name" [(ngModel)]="leadmembername"
      [ngClass]="displayFieldCss(editcompanyForm,'lead_member_name')">
    <label class="floating-label">Enter Lead Member Name <span class="asterisk">*</span></label>

    <div class="required" *ngIf="isFieldValid(editcompanyForm,'lead_member_name')">
      <span class="text-danger" *ngIf="editcompanyForm.get('lead_member_name')?.errors?.['required']">Lead Member Name
        is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': pannumber!= '' }">
    <input type="text" class="form-control" id="role" formControlName="pan" [(ngModel)]="pannumber">
    <label class="floating-label">Enter PAN No.</label>
    <div class="required" *ngIf="editcompanyForm.get('pan')?.errors?.['pattern']" (keyup)="PANupCase($event)"
      maxlength="10">
      <span class="text-danger">Valid PAN is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': gstnumber!= '' }">
    <input type="text" class="form-control" id="role" formControlName="gst" [(ngModel)]="gstnumber">
    <label class="floating-label">Enter GST No.</label>
    <!-- <div class="required" *ngIf="isFieldValid(editcompanyForm,'name')">
        <span class="text-danger" *ngIf="editcompanyForm.get('name')?.errors?.['required']">Name is required</span>
    </div> -->
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': emailid!= '' }">
    <input type="text" class="form-control" id="role" formControlName="email" [(ngModel)]="emailid" autocomplete="off">
    <label class="floating-label">Enter Email Id</label>
    <div class="required" *ngIf="editcompanyForm.get('email')?.errors?.['pattern']">
      <span class="text-danger">Valid Email is required</span>
    </div>
  </div>

  <div class="mb-3" [ngClass]="{ 'float-now': phonenumber != '' }">
    <input type="text" class="form-control" id="role" formControlName="phone" [(ngModel)]="phonenumber" numbersOnly
      pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" minlength="4" maxlength="10">
    <label class="floating-label">Enter Phone No.</label>
    <div class="required" *ngIf="editcompanyForm.get('phone')?.errors?.['pattern']">
      <span class="text-danger">Valid Phone is required</span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="editCompany()">UPDATE</button>
</form>