.allfield {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 0px -30px 0px;

  .field {
    display: flex;
    width: 40%;
    margin-right: 1.33%;

    .fieldValue {
      width: 100%;

      label {
        color: grey;
        margin-left: 8px;
        font-size: 12px;
      }
    }
  }

  .fieldbtn {
    display: flex;
    width: 15%;
    margin-right: 1.33%;
  }
}

.RemoveBtn {
  width: 5%;

  img {
    height: 38px;
    width: 38px;
    margin-left: 100px;
    margin-top: 0px;
    cursor: pointer;
  }
}

.AddBtn {
  width: 5%;

  img {
    height: 38px;
    width: 38px;
    margin-left: 100px;
    margin-top: 0px;
    cursor: pointer;
  }
}

.heading {
  color: grey;
  display: flex;
  width: 100%;
  font-size: 14px;
}

.lebelheading {
  color: grey;
  font-size: 12px !important;
  margin: unset !important;
}

.required {
  font-size: 11px;
  top: 105px;
  margin-left: 21px;
}

.firstunit {
  width: 114% !important;
}

.oftext {
  margin-top: 12px !important;
  margin-left: 30px;
  font-size: 14px;
}

.asterisk {
  color: red;
}

.addressform input, select, textarea {
	border-radius: 0px;
	font-size: 12px;
	padding: 5px 8px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	line-height: 28px;
}