<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <div class="createtable-section">
        <table>
            <tr>
                <th>Sr.&nbsp;No</th>
                <th>Item Group</th>
                <th>Item Sub Group</th>
                <th>Item</th>
                <th>Qty/ Unit</th>
                <th>Rate Amount</th>
                <th>Requested For</th>
                <th>Log Book / Job Card</th>
                <th>Remark</th>
                <th>Action</th>
            </tr>
            <tr class="">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-middle"><a *ngIf="this.scope == 'add-new'" [ngClass]="{ 'disabled': disabledEdit }" (click)="addItem()" type="button" class="tablebtn-save">ADD <i class="fa" aria-hidden="true"><img src="assets/img/vector-add.png" alt=""></i></a></td>
            </tr>
            <tr class="tablebg" *ngFor="let item of form.requested_items; let i = index">
                <td>#{{i+1}}</td>

                <td style=" min-width: 150px; ">
                    <div class="tablegroup">
                        <label>Item Group</label>
                        <ng-select [disabled]="disabledEdit" class="" name="requested_material_group{{i+1}}" [(ngModel)]="form.requested_items[i].requested_material_group" required #requested_material_group="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material_group.errors }" (change)="typeChange(form.requested_items[i].requested_material_group,i)">
                            <ng-option *ngFor="let materialGroup of masterlist" [value]="materialGroup.id">{{materialGroup.name}}</ng-option>
                        </ng-select>
                    </div>  
                </td>
                <td style=" min-width: 150px; ">
                    <div class="tablegroup">
                        <label>Item Sub Group</label>
                        <ng-select [disabled]="disabledEdit" class="" name="requested_material_sub_group{{i+1}}" [(ngModel)]="form.requested_items[i].requested_material_sub_group" required #requested_material_sub_group="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material_sub_group.errors }" (change)="subTypeChange(form.requested_items[i].requested_material_sub_group, i)">
                            <ng-option *ngFor="let subGroup of form.requested_items[i].MaterilSubGroupList" [value]="subGroup.id">{{subGroup.name}}</ng-option>
                        </ng-select>
                    </div>
                </td>
                <td style=" min-width: 150px; ">
                    <div class="tablegroup">
                        <label>Item</label>
                        <ng-select [disabled]="disabledEdit" class="" name="requested_material{{i+1}}" [(ngModel)]="form.requested_items[i].requested_material" required #requested_material="ngModel" [ngClass]="{ 'is-invalid': f.submitted && requested_material.errors }" (change)="setMaterialMasterData(i,false)">
                            <ng-option *ngFor="let masterData of form.requested_items[i].MaterilFilterList" [value]="masterData.id">{{masterData.material_name}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="tablegroup tablegroup-text"><h2>
                        (Bal.&nbsp;Qty.&nbsp;=</h2 > 
                        <div class="form-control form-control2" data-bs-toggle="tooltip" data-bs-placement="right" title="Balance Quantity.">{{form.requested_items[i].currentStock}}</div>
                        <h2>)</h2>
                    </div>
                    <section class="boq-material-details" *ngIf="form.requested_items[i].requested_material">
                        <img src="assets/icons/details.png" alt="">
                        <table>
                            <tr>
                                <th>BOQ Name</th>
                                <th>BOQ Item</th>
                                <th>BOQ Sub Item</th>
                                <th>Budgeted Quantity</th>
                            </tr>
                            <tr *ngFor="let masterialBoQdata of form.requested_items[i].MaterialBOQ">
                                <td>{{masterialBoQdata.wbs_list__boq__name}}</td>
                                <td>{{masterialBoQdata.wbs_list__wbs__wbs__wbs_name}}</td>
                                <td>{{masterialBoQdata.wbs_list__wbs__keyscope}}</td>
                                <td>{{masterialBoQdata.budgeted_quantity}}</td>
                            </tr>
                            <tr *ngIf="form.requested_items[i]?.MaterialBOQ?.length==0">
                                <td colspan="4" style=" text-align: center; ">
                                    Item Not found on BOQ. Please add Justification
                                </td>
                            </tr>
                        </table>
                    </section>
                </td>
                <td>
                    <div class="tablegroup">
                        <label>Qty</label>
                        <input type="text" class="form-control" id="data" placeholder="" [disabled]="disabledEdit"
                            amountNumber pattern="^(?!0*[.,]0*$|[.,]0*$|0*$)\d+[,.]?\d{0,3}$" name="quantity{{i+1}}"
                            [(ngModel)]="form.requested_items[i].quantity" #quantity="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && quantity.errors }">
                        <select
                            class="form-control" id="sel1" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="form.requested_items[i].uom"
                            [disabled]="disabledEdit">
                            <option value="{{uomData.id}}" *ngFor="let uomData of form.requested_items[i].uomlistData">{{uomData.symbol}}</option>
                        </select>
                    </div>

                </td>

                <td>
                    <div class="tablegroup">
                        <input type="text" class="form-control" id="data" placeholder="Rate" name="rate{{i+1}}"
                            [(ngModel)]="form.requested_items[i].rate" required #rate="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && rate.errors }" [disabled]="disabledEdit">

                    </div>

                    <div class="tablegroup">
                        <input type="text" class="form-control" id="data" placeholder="Amount" name="amount{{i+1}}"
                            [(ngModel)]="form.requested_items[i].amount" required #amount="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && amount.errors }" [disabled]="disabledEdit">

                    </div>
                </td>

                <td>
                    <div class="tablegroup">
                        <select class="form-control" name="requested_for{{i+1}}" [(ngModel)]="form.requested_items[i].requested_for" #requested_for="ngModel" id="sel1" [disabled]="disabledEdit">
                            <option value="project">Project</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="tablegroup">
                        <label>Charge Type</label>
                        <input type="text" class="form-control" id="data" placeholder=""
                            name="charge_type{{i+1}}"
                            [(ngModel)]="form.requested_items[i].charge_type" #charge_type="ngModel"
                            [disabled]="disabledEdit">
                    </div>
                    <div class="tablegroup">
                        <label>Shift</label>
                        <input type="text" class="form-control" id="data" placeholder=""
                            name="shift{{i+1}}"
                            [(ngModel)]="form.requested_items[i].shift" #shift="ngModel" [disabled]="disabledEdit">
                    </div>
                    <section class="chackbox-container">
                        <input type="checkbox" name="is_returnable{{i+1}}" id=""
                            name="is_returnable{{i+1}}"
                            [(ngModel)]="form.requested_items[i].is_returnable" #is_returnable="ngModel"
                            [disabled]="disabledEdit">
                        <p>Is Returnable</p>
                    </section>
                    <section class="chackbox-container">
                        <input type="checkbox" name="is_chargeable{{i+1}}" id=""
                            name="is_chargeable{{i+1}}"
                            [(ngModel)]="form.requested_items[i].is_chargeable" #is_chargeable="ngModel"
                            [disabled]="disabledEdit">
                        <p>Is Chargeable</p>
                    </section>
                </td>
                <td>
                    <textarea class="form-control" rows="2" id="comment" [disabled]="disabledEdit"
                        name="log_book{{i+1}}"
                        [(ngModel)]="form.requested_items[i].log_book"></textarea>
                </td>
                <td>
                    <textarea class="form-control" rows="2" id="comment" [disabled]="disabledEdit"
                        name="remark{{i+1}}"
                        [(ngModel)]="form.requested_items[i].remark"></textarea>
                </td>
                <td class="align-middle" *ngIf="this.scope == 'update' || this.scope == 'add' || this.scope == 'add-new'"><a (click)="delete(i)"
                        type="submit" class="vector-delete">DEL <i class="fa" aria-hidden="true"><img
                                src="assets/img/vector-delete.png" alt=""></i></a>
                </td>
                <td class="align-middle" *ngIf="scope == 'view'"><a type="submit" class="vector-delete">DEL <i
                            class="fa" aria-hidden="true"><img src="assets/img/vector-delete.png" alt=""></i></a>
                        
                </td>
            </tr>
            <tr *ngIf="form.requested_items?.length==0">
                <td colspan="11">No Item Added Yet</td>
            </tr>
            <button hidden #submitButton="" type="submit">Save</button>
        </table>
    </div>
</form>