<section>
    <div class="actions">
        <button (click)="save()" [ngClass]="{'disable': DisableModify == true }">Save</button>
        <button (click)="addNew()" [ngClass]="{'disable': DisableModify == true }">Add P&E</button>
    </div>
    <div class="lmpi-list">
        <div class="list">
            <ul>
              <li>P&E</li>
              <li>Budget Quantity</li>
              <li >Rate</li>
              <li >Cost</li>
              <li>Action</li>
            </ul>
            <ul *ngIf="componentList.length==0">
                <li>No P&E added yet!</li>
                <li></li>
                <li></li>
                <li ></li>
                <li ></li>
            </ul>
            <ul *ngFor="let component of componentList; let index = index">
              <li>
                <select name="" [ngClass]="{'disable': DisableModify == true }" id="" [(ngModel)]="componentList[index].plant_machinery">
                    <option value="" disabled>Select P&E</option>
                    <option value="{{masterData.id}}" *ngFor="let masterData of masterlist">{{masterData.plant_machinery_data[0].value}} | {{masterData.plant_machinery_data[1].value}} | Monthly Charge - {{masterData.plant_machinery_data[25].value}} </option>
                </select>
              </li>
              <li>
                <input type="text" [ngClass]="{'disable': DisableModify == true }" amountNumber [(ngModel)]="componentList[index].budgeted_quantity">
              </li>
              <li >
                <input type="text" [ngClass]="{'disable': DisableModify == true }" amountNumber [(ngModel)]="componentList[index].rate">
              </li>
              <li >
                {{component.cost}}
              </li>
              <li>
                <button [ngClass]="{'disable': DisableModify == true }" (click)="delete(index)">Delete</button>
              </li>
            </ul>
        </div>
    </div>
</section>

