<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
 
    <div class="creatematerial hideOnPrintScreen">
        <div class="row">
    
            <div class="col-lg-6 col-md-6 col-12">
                <div class="addressform">
                   
                   
                            <label for="request">Prepared&nbsp;By.</label>                      
                            <select class="form-control" [disabled]="disabledEdit" id="sel1" name="prepared_by" [(ngModel)]="form.prepared_by" required #prepared_by="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prepared_by.errors }">
                                <option>Please Select</option>
                                <option *ngFor="let userData of userlist" value="{{userData.id}}">{{userData.full_name}}</option>
                            </select>   
                            <div *ngIf="f.submitted && prepared_by.errors" class="invalid-feedback">
                                    <div *ngIf="prepared_by.errors['required']">This is required !</div>
                            </div>            
                   
                </div> 
                    
            </div>
    
            
            <div class="col-lg-6 col-md-6 col-12">
                <div class="addressform">
             
                        <label for="request">Attach&nbsp;a&nbsp;File</label>               
                            <div class="custom-file">
                                <input [disabled]="disabledEdit" type="file" multiple="multiple" (change)="handleUpload($event)" class="custom-file-input" id="customFile">
                              </div>
                            <section *ngIf="prefieldData.attachments">
                                <a *ngFor="let attachmentdata of prefieldData.attachments" href="{{docUrl}}{{attachmentdata.attachment}}" target="_blank"  ><img src="assets/icons/eye.png" alt=""></a>
                            </section> 
                </div> 
    
                <div class="addressform"> 
                    <label for="remarks">Remarks</label>
                    <input [disabled]="disabledEdit" type="remarks" class="form-control" placeholder="Type here..." id="remarks" name="remarks" [(ngModel)]="form.remarks" #remarks="ngModel">                 
                </div> 
    
            </div>
            <button hidden  #submitButton="" type="submit">Save</button>
            </div>
    </div>
    </form>
    
    