<div class="main-container">
    <div class="container navtab">
        <app-das-nav></app-das-nav>
    </div>
    <div class="container ftn8">
        <app-fortnight-preview></app-fortnight-preview>
    </div>
    <div class="container notice">
        <app-notice-board></app-notice-board>
    </div>
</div>
<div class="main-container">
    <div class="container fortnight">
        <app-leave-preview></app-leave-preview>
    </div>
    <div class="container leavegraph">
        <app-leave-graph></app-leave-graph>
    </div>
    <div class="container holiday">
        <app-holiday-preview></app-holiday-preview>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <app-birthdays-preview></app-birthdays-preview>
    </div>
    <div class="container onboardiong-container">
        <app-on-boarding></app-on-boarding>
    </div>
</div>
