.required {
    font-size: 12px;
    top: 33px;
    margin-left: 12px;
}

::ng-deep.ck.ck-balloon-panel {
    z-index: 99999 !important;
}

.taglevel {
    font-size: 13px !important;
    color: #424242;
    margin-bottom: 5px;
}

.taglistli {
    margin-right: 10px;
    cursor: pointer;
    background: #5577FF;
    margin-bottom: 5px;
    border-radius: 18px;
    color: white;
    padding: 3px 10px;
    font-size: 12px;
}

.taglistul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

::ng-deep.ck-editor__editable_inline {
    min-height: 220px !important;
}

.custom1 {

    padding-bottom: 0;
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0px;

}

.custom2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

