<div class="nav-container">
    <ul>
        <li [routerLink]="['/hrms/attendance/view-attendance']">
            <span><img src="assets/icons/callender.png" alt=""></span>
            My Attendance
        </li>
        <li>
            <span><img src="assets/icons/file.png" alt=""></span>
            My Conveyance
        </li>
        <li>
            <span><img src="assets/icons/time-man.png" alt=""></span>
            Employee Self Service
        </li>
        <li>
            <span><img src="assets/icons/notice.png" alt=""></span>
            Circular And Notices
        </li>
    </ul>
</div>