
<div class="treeview-permissions">
    <button class="btn btn-primary permission-main-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabAdm" aria-expanded="true" aria-controls="collapseTabAdm">
        ACTION ROLE
    </button>
    <div class="collapse show" id="collapseTabAdm">
        <div class="card card-body">
            <ul class="tree">
                <li *ngFor="let menu of permissionData[0].module_list; let i = index" [attr.data-index]="i" class="main-menu-bottom-space">
                <div class="details" [attr.open]="menu.level_permission ? 'open' : null">
                    <summary (click)="toggleMenuList(i)">{{ menu.itemName }}</summary>
                </div>
                </li>
            </ul>
        </div>
    </div> 
</div> 

<div class="treeview-permissions" *ngIf="showPermissions">
    <button class="btn btn-primary permission-main-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabmodule" aria-expanded="true" aria-controls="collapseTabmodule">
        MODULE LEVEL PERMISSION
    </button>
    <div class="collapse show" id="collapseTabmodule">
        <div class="card card-body">
            <ul class="tree">
                <li *ngFor="let menu of permissionData[0].menu_list; let i = index" [attr.data-index]="i" class="main-menu-bottom-space">
                <div class="details" [attr.open]="permissionData[0].menu_list[i].level_permission ? 'open' : null">
                    <summary (click)="toggleMainMenu(i)">{{ menu.itemName }}</summary>
                    <ul class="lastNodeHed" *ngIf="menu.sub_menu_list?.length == 0">
                        <li class="space-line"></li>
                        <li class="childNode nobefore" [ngClass]="{'hidden' : menu.itemName == 'Dashboard'}">
                            <label class="container">Add
                                <input type="checkbox" name="add"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].add">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore">  
                            <label class="container">view
                                <input type="checkbox" name="view"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].view">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore" [ngClass]="{'hidden' : menu.itemName == 'Dashboard'}">
                            <label class="container">Edit
                                <input type="checkbox" name="edit"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="permissionData[0].menu_list[i].edit">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore" [ngClass]="{'hidden' : menu.itemName == 'Dashboard'}">
                            <label class="container">Export
                                <input type="checkbox" name="export"  [(ngModel)]="permissionData[0].menu_list[i].export">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="lastNode" [ngClass]="{'hidden' : menu.itemName == 'Dashboard'}">
                            <label class="container">Delete
                                <input type="checkbox" name="delete"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].delete">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                    <ul>
                    <li class="submenu" *ngFor="let submenu of menu.sub_menu_list; let j = index" [attr.data-index]="j">
                        <div class="details subdetails" [attr.open]="permissionData[0].menu_list[i].sub_menu_list[j].level_permission ? 'open' : null" >
                        <summary (click)="togglechildMainMenu(i,j)">{{ submenu.itemName }}</summary>
                        <ul class="lastNodeHed">
                            <li class="space-line"></li>
                            <li class="childNode nobefore">  
                                <label class="container">Add
                                    <input type="checkbox" name="add"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].sub_menu_list[j].add">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li class="childNode nobefore">  
                                <label class="container">View
                                    <input type="checkbox" name="view"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].sub_menu_list[j].view">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li class="childNode nobefore">
                                <label class="container">Edit
                                    <input type="checkbox" name="edit"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].sub_menu_list[j].edit">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li class="childNode nobefore">
                                <label class="container">Export
                                    <input type="checkbox" name="export" (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].sub_menu_list[j].export">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li class="lastNode">
                                <label class="container">Delete
                                    <input type="checkbox" name="delete" (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"  [(ngModel)]="permissionData[0].menu_list[i].sub_menu_list[j].delete">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        </div>
                    </li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
    </div> 
</div>

<div class="treeview-permissions" *ngIf="showPermissions">
    <button class="btn btn-primary permission-main-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabGeneral" aria-expanded="true" aria-controls="collapseTabGeneral">
        GENERAL SETTING
    </button>
    <div class="collapse show" id="collapseTabGeneral">
        <div class="card card-body">
            <ul class="tree">
                <li *ngFor="let settingmenu of permissionData[0].setting_list; let i = index" [attr.data-index]="i" class="main-menu-bottom-space">
                <div class="details" [attr.open]="permissionData[0].setting_list[i].level_permission ? 'open' : null">
                    <summary (click)="settingsMenu(i)">{{ settingmenu.itemName }}</summary>
                    <ul class="lastNodeHed">
                        <li class="space-line"></li>
                        <li class="childNode nobefore">  
                            <label class="container">Add
                                <input type="checkbox" name="add"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="permissionData[0].setting_list[i].add">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore">  
                            <label class="container">View
                                <input type="checkbox" name="view"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="permissionData[0].setting_list[i].view">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore">
                            <label class="container">Edit
                                <input type="checkbox" name="edit"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="permissionData[0].setting_list[i].edit">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore">
                            <label class="container">Export
                                <input type="checkbox" name="export"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="permissionData[0].setting_list[i].export">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="lastNode">
                            <label class="container">Delete
                                <input type="checkbox" name="delete"  (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="permissionData[0].setting_list[i].delete">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
    </div> 
</div>

<div class="treeview-permissions" *ngIf="showPermissions">
    <button class="btn btn-primary permission-main-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabAdm" aria-expanded="true" aria-controls="collapseTabAdm">
        ADMINISTRATIVE PERMISSION
    </button>
    <div class="collapse show" id="collapseTabAdm">
        <div class="card card-body">
            <ul class="tree">
                <li *ngFor="let menu of permissionData[0].administrative_list; let i = index" [attr.data-index]="i" class="main-menu-bottom-space">
                <div class="details"  [attr.open]="menu.level_permission ? 'open' : null">
                    <summary (click)="admintoggleMainMenu(i)">{{ menu.name }}</summary>
                    
                    <ul class="lastNodeHed">
                        <li class="space-line"></li>
                        <li class="childNode nobefore">  
                            <label class="container">Import 
                                <input type="checkbox" name="import"  [(ngModel)]="permissionData[0].administrative_list[i].import">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore">
                            <label class="container">Export
                                <input type="checkbox" name="export" [(ngModel)]="permissionData[0].administrative_list[i].export">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="childNode nobefore">
                            <label class="container">Approve
                                <input type="checkbox" name="approval" [(ngModel)]="permissionData[0].administrative_list[i].approval">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li class="lastNode">
                            <label class="container">Submit For Approve
                                <input type="checkbox" name="approval_submit" [(ngModel)]="permissionData[0].administrative_list[i].approval_submit">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
    </div> 
</div>

<div class="buttoncontainer">
    <button type="submit" class="btn btn-primary" (click)="oneditSubmit()">SAVE</button>
    <button type="button" class="btn btn-primary non-active-btn" (click)="close()">BACK</button>
</div>


