<div class="reset-card">
    <form role="form" [formGroup]="newpassForm">
        <div class="mb-3 individualinput">
            <label for="exampleInputPassword1" class="form-label"><img src="assets/login/secure-lock-icon.png"
                    alt=""></label>
            <input [type]="showoldpassword ? 'text' : 'password'" class="form-control" formControlName="oldPassword" [ngClass]="displayFieldCss(newpassForm,'oldPassword')" id="exampleInputPassword1"
                placeholder="Enter old password">
            <label for="exampleInputPassword1" (click)="toggleoldPasswordView()" class="form-label clickable">
                <img src="assets/login/closed-eye-icon.png" *ngIf="!showoldpassword" alt="">
                <img src="assets/login/opened-eye-icon.png" *ngIf="showoldpassword" alt="">

            </label>
                    <div class="required2" *ngIf="isFieldValid(newpassForm,'oldPassword')">
                        <span class="text-danger" *ngIf="newpassForm.get('oldPassword')?.errors?.['required']">Old Password is required</span>
                      </div>
        </div>
        <div class="mb-3 individualinput">
            <label for="exampleInputPassword1" class="form-label"><img src="assets/login/secure-lock-icon.png"
                    alt=""></label>
            <input [type]="shownewpassword ? 'text' : 'password'" class="form-control" formControlName="newpassword" [ngClass]="displayFieldCss(newpassForm,'newpassword')" id="exampleInputPassword1"
                placeholder="New Password">
            <label for="exampleInputPassword1" (click)="togglenewPasswordView()" class="form-label clickable">
                <img src="assets/login/closed-eye-icon.png" *ngIf="!shownewpassword" alt="">
                <img src="assets/login/opened-eye-icon.png" *ngIf="shownewpassword" alt="">

            </label>
                    <div class="required2" *ngIf="isFieldValid(newpassForm,'newpassword')">
                        <span class="text-danger" *ngIf="newpassForm.get('newpassword')?.errors?.['required']">New Password is required</span>
                        <span class="text-danger" *ngIf="newpassForm.get('newpassword')?.errors?.['pattern']">Enter a strong password (length should be in between 8 to 16 characters)</span>
                      </div>
        </div>
        <div class="mb-3 individualinput">
            <label for="exampleInputPassword1" class="form-label"><img src="assets/login/secure-lock-icon.png"
                    alt=""></label>
            <input [type]="showconfirmpassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" [ngClass]="displayFieldCss(newpassForm,'confirmPassword')" id="exampleInputPassword1"
                placeholder="Confirm Password" (keyup)="confirmPass()">
            <label for="exampleInputPassword1" (click)="toggleconfirmPasswordView()" class="form-label clickable">
                <img src="assets/login/closed-eye-icon.png" *ngIf="!showconfirmpassword" alt="">
                <img src="assets/login/opened-eye-icon.png" *ngIf="showconfirmpassword" alt="">                
                </label>
                    <div class="required2" *ngIf="isFieldValid(newpassForm,'confirmPassword')">
                        <span class="text-danger" *ngIf="newpassForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</span>
                      </div>
                    <div class="required2">
                        <span class="text-danger" *ngIf="!newpassForm.get('confirmPassword')?.errors?.['required'] && sameError">New Password and Confirm Password should be Same</span>
                    </div>  
        </div>
    
        <div class="form-action">
            <button type="submit" class="btn btn-primary" (click)="saveNewPassword()">SAVE</button>
        </div>
    </form>
</div>