.createrequisition-section {
    margin: 12px 12px;
    padding: 0px 0px;
    width: auto;
    position: relative;
}

.btd-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.btn-save {
	background-image: linear-gradient(to right, #40d4e6, #6675fe);
	/* font-weight: initial; */
	padding: 7px 17px;
	margin-top: 8px;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	float: right;
	min-width: auto;
	margin-left: 15px;
}

.btn-save:hover {
    background-image: linear-gradient(to right, #6675fe, #40d4e6);
    color: white;
}

.btn-cancel {
    background-image: linear-gradient(to right, #888888, #6e6e6e);
    font-weight: initial;
    padding: 7px 17px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    float: right;
    min-width: auto;
    margin-left: 15px;
}

.btn-cancel:hover {
    background-image: linear-gradient(to right, #6e6e6e, #888888);
    color: white;
}