<button class="print-button" useExistingCss="true" printSectionId="printSection" ngxPrint>
    <img src="assets/icons/print.png" alt="">
</button>
<div class="print_preview">
    <div id="printSection">
        <table role="presentation" style="width:960px; margin: auto;border-collapse:collapse;border:0;border-spacing:0;">
            <tr *ngIf="printData.status !== 'approved'">DRAFT</tr>
            <tr style="background:#ffffff;     padding: 5px 10px;
                                            border: 1px solid #242424;">
                <td colspan="3" style="text-align: left;vertical-align: top;font-size: 15px;font-weight: 600;padding: 8px;">
                    <img src="assets/Logo/infraLogo.png" style="height:59px; float: left;">
                </td>
                <td colspan="4" style="float:right;text-align: left;font-size: 15px;font-weight: 600;padding: 8px;">
                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 20px;">
                        Company: {{printData?.company_data[0]?.name}}
                        <br>
                        <div style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px; ">
                            Premises No. {{printData?.company_data[0]?.party_address}}
                            <br>
                        </div>
                        Ph: {{printData?.company_data[0]?.phone_no}}
                        <br> Email Id : {{printData?.company_data[0]?.email_id}}
                        <br> PAN No : {{printData?.company_data[0]?.pan_no}}
                        <br> GST No. : {{printData?.company_data[0]?.gst_no}}
                        <br> Project Name : {{printData?.project_name}}
                        <br>
                    </div>
                </td>
            </tr>
            <tr style="text-align: center;font-size: 15px;font-weight: 600;padding: 8px 0px;border: 1px solid #242424">

                <td colspan="4" class="text1" style="color: #000; font-size: 20px; text-align: center; line-height: 45px; text-decoration: underline;">
                    PURCHASE ORDER</td>
            </tr>


            <tr style="background:#ffffff; border: 1px solid #000;">
                <td colspan="3" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px;">
                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                        PO NO: {{printData?.request_code}}</div>
                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: bold; line-height: 25px;">
                        PO Date:
                        <span style="font-weight: 500;"> {{printData?.created_at | date : "MMM d, y" }}
                        </span>

                    </div>

                </td>
                <td colspan="4" style="text-align: left;float:right;font-size: 15px;font-weight: 600;padding: 8px;">
                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                        PO Validity Date: {{printData?.valid_date_to | date : "MMM d, y"}}</div>
                </td>
            </tr>
            <tr class="space-adjust" style="background:#ffffff; border: transparent 1px solid;">
                <td rowspan="2" colspan="2" style="text-align: left;border: 1px solid #000;font-size: 15px;font-weight: 600;padding: 8px;">
                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                        Vendor Name: {{printData?.vendor_details?.data?.vendor_name}}
                        <br> Address: {{printData?.vendor_details?.data?.vendor_address}}
                        <br> GST No.: {{printData?.vendor_details?.data?.gst_number}}
                        <br> PAN No.: {{printData?.vendor_details?.data?.pan_no_}}
                        <br> Contact No.: {{printData?.vendor_details?.data?.vendor_contact_no}}
                        <br> Contact Email: {{printData?.vendor_details?.data?.vendor_email_id}}
                        <br>

                    </div>
                </td>
                <td style="text-align: left;border: 1px solid #000;font-size: 15px;font-weight: 600;padding: 8px;">
                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                        Project / Shipping Address: {{printData?.delivery_address1}} {{printData?.delivery_address2}} {{printData?.delivery_address3}}
                    </div>

                </td>
                <td rowspan="2" style="text-align: left;border: 1px solid #000;font-size: 15px;font-weight: 600;padding: 8px;">
                    <div class="text1 space-fix" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 1;">
                        Contract Details:
                        <br>
                        <br>
                        <span style="width: auto; font-weight: bold; float: left; margin-right: 4px;">Quotation
                            No. : </span>
                        <p style="margin: 0px 0 0px;" *ngIf="printData?.items[0]?.quotation_details || printData?.quotation_text">
                            {{printData?.quotation_text? printData?.quotation_text : printData?.items[0]?.quotation_details[0]?.request_code}}
                        </p>
                        <br>
                        <span style="width: auto; float: left; font-weight: bold; margin-right: 4px;">Quotation
                            Date : </span>
                        <p style="margin: 0px 0 0px;" *ngIf="printData?.items[0]?.quotation_details || printData?.quotation_date">
                            {{printData?.quotation_date ? printData?.quotation_date : printData?.items[0]?.quotation_details[0]?.created_at | date : "MMM d, y"}}</p>
                    </div>
                </td>
            </tr>

            <tr class="space-adjust">
                <td style="text-align: left;border: 1px solid #000;font-size: 15px;font-weight: 600;padding: 8px;">

                    <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                        Project / Billing Address: {{printData?.site_details[0]?.address}}
                    </div>
                </td>
            </tr>

            <tr style="margin: 0px 0px; padding: 0px 0px;">
                <td colspan="4" style="text-align: left;color: #548235;font-size: 33px;font-weight: 600;padding: 10px;border: 1px solid #000; border-top: 0">

                    <span class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                        Please arrange to supply the materials/or provide service covered by this order
                        strictly as per
                        the terms and conditions mentioned below:
                    </span>

                </td>
            </tr>
        </table>
        <br>
        <br>
        <table role="presentation" style="width:960px; margin: auto;border-collapse:collapse;border:0;border-spacing:0;">
            <tr style="background: #ddf2f3; border: #373737 1px solid; height: 30px;">
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Sr.</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    MR No./
                    <br> MR Date</td>
                <!--<td
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                Indent No./ <br> Indent Date</td>-->
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Items</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Tech./
                    <br> Spec.</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    HSN Code</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Qty.</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Unit</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Rate</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Value</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Disc.</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Taxable
                    <br> Amt.
                </td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    CGST
                    <br> (Rate/Amt.)</td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    SGST/UTGST
                    <br> (Rate/Amt.)</td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    IGST
                    <br> (Rate/Amt.)</td>

                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Amount
                    <br> (Rate/Amt.)</td>
            </tr>

            <tr *ngFor="let item of printData?.items; let i = index" style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{i+1}}</td>
                <td style="text-align: center;padding: 4px;min-width: 75px;  border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    <span *ngIf="item.mr_details">{{item.mr_details[0].request_code}}
                        <br>{{item.mr_details[0].date}}</span>
                </td>
                <!--<td
                                style="text-align: center;padding: 4px;min-width: 75px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                <span *ngIf="item.indent_details">{{item.indent_details[0].request_code}}
                                    <br>{{item.indent_details[0].date}}</span>
                            </td>-->
                <td style="text-align: left;padding: 4px; border-right:#373737 1px solid; 
                                        font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    <!-- Group : {{item?.material_type_details[0]?.name}}<br> -->
                    <!-- Sub Group : {{item?.material_sub_type_details[0]?.name}}<br>-->
                    <b>Item</b> : {{item?.material_details[0]?.material_name}}
                    <br> <b>code </b>: {{item?.material_details[0]?.material_code}}
                    <br> <b>Descriptions</b> : {{item?.material_details[0]?.material_descriptions}}
                    
                    <br>
                </td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData.items[i].material_details[0].part_no}}</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.hsn_details[0]?.hsn_code}}
                </td>

                <td style="text-align: left;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{item?.quantity}}</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.unit_of_mesurement_details[0]?.symbol}}</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.rate}}</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.rate * item?.quantity | currency : 'INR' : true : '1.2-2'}}</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.disc_percentage}}%
                    <br> {{item?.disc_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.taxable_amount | currency : 'INR' : true : '1.2-2'}}</td>
                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.cgst_percentage}}%
                    <br> {{item?.cgst_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.sgst_percentage}}%
                    <br> {{item?.sgst_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.igst_percentage}}%
                    <br> {{item?.igst_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{item?.total_amount | currency : 'INR' : true : '1.2-2'}}</td>
            </tr>

            <tr style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                <td colspan="5" style="text-align: right;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    Total</td>
                <td style="text-align: left;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{printData?.total_item_item_quantity}}
                </td>
                <td style="text-align: left;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    <!-- 20 -->
                </td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                </td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_item_amount | currency : 'INR' : true : '1.2-2'}}</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_disc_amount | currency : 'INR' : true : '1.2-2'}}</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_taxable_amount | currency : 'INR' : true : '1.2-2'}}
                </td>

                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_cgst_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_sgst_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_igst_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td *ngIf="printData.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    {{printData?.total_item_total_amount | currency : 'INR' : true : '1.2-2'}}</td>

            </tr>


            <!-- <tr style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                                    <td colspan="2"
                                        style="text-align: right;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                    </td>
                                    <td colspan="6"
                                        style="text-align: left;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                                        GST Amount</td>

                                    <td colspan="4"
                                        style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                        {{printData?.total_item_sgst_amount + printData?.total_item_igst_amount + printData?.total_item_cgst_amount + printData?.total_item_utgst_amount | currency : 'INR' : true : '1.2-2'}}</td>
                                </tr> -->
            <!-- <tr style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                                    <td colspan="8"
                                        style="text-align:right;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                        Total Amount
                                    </td>

                                    <td colspan="4"
                                        style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                        {{printData?.total_amount | currency : 'INR' : true : '1.2-2'}}</td>
                                </tr> -->


        </table>
        <br>
        <br>

        <table role="presentation" style="width:960px; margin: auto;border-collapse:collapse;border:0;border-spacing:0;">
            <tr style="background: #ddf2f3; border: #373737 1px solid; height: 30px;">
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Expense(s)</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Percent</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Percentage
                    <br> Amount</td>

                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    CGST
                    <br> (Rate/Amt.)</td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    SGST/UTGST
                    <br> (Rate/Amt.)</td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    IGST
                    <br> (Rate/Amt.)</td>

                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                    Amount
                    <br> (Rate/Amt.)</td>
            </tr>

            <tr *ngFor="let expense of printData?.po_expense; let i = index" style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.expense_details[0].name}}</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.expense_percentage}}%</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.expense_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.cgst_percentage}}%
                    <br> {{expense?.cgst_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.sgst_percentage}}%
                    <br> {{expense?.sgst_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.igst_percentage}}%
                    <br> {{expense?.igst_amount | currency : 'INR' : true : '1.2-2'}}</td>

                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    {{expense?.total_expense_amount | currency : 'INR' : true : '1.2-2'}}</td>
            </tr>

            <tr style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                <td colspan="2" style="text-align: right;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                    Total</td>
                <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{printData?.total_expense_expense_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{printData?.total_expense_cgst_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{printData?.total_expense_sgst_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{printData?.total_expense_igst_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
                <td *ngIf="printData?.tax_type === 'gst'" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                    {{printData?.total_expense_total_expense_amount | currency : 'INR' : true : '1.2-2'}}
                </td>
            </tr>
        </table>
        <br>
        <br>

        <table role="presentation" style="width:960px; margin: auto;border-collapse:collapse;border:0;border-spacing:0;">

            <tr style="background:#ffffff; border: transparent 1px solid; margin-top: 11px;">
                <td colspan="3" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                    <div class="text1" style="color: #000; font-size: 17px; text-align: left; font-weight: bold; line-height: 25px;">
                        Payment Schedule:</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0px 0px 0px 0px;">
                    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                        <tr style="background: #ddf2f3; border: #373737 1px solid; height: 30px;">

                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                TYPE OF PAYMENT</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                AFTER N DAYS</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                PAYMENT TERMS</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                SCHEDULED AMOUNT</td>
                        </tr>

                        <tr *ngFor="let pShed of printData?.payment_schedule; let i = index" style="background: #ffffff; border: #373737 1px solid; height: 30px;">

                            <td class="text-capitalize" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{pShed.percent_type.replace('_', ' ')}}</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{pShed.payment_credit_days}}</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{pShed.percent}} %</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top; ">
                                {{pShed.amount | currency : 'INR' : true : '1.2-2'}}</td>
                        </tr>
                        <tr style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                            <td colspan="2" style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                Total</td>
                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                {{printData?.total_payment_schedule.percent}} %</td>

                            <td style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: 600; font-size: 11px; color: #000000; vertical-align: top;">
                                {{printData?.total_payment_schedule.qty | currency : 'INR' : true : '1.2-2'}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--<tr style="background: #ffffff; border: #373737 1px solid; height: 30px;"
                            *ngFor="let item of printData?.po_tax">
                            <td
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{item.name}}</td>

                            <td *ngIf="item.name === 'Discount'"
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{item.tax_percentage}}%</td>

                            <td *ngIf="item.name !== 'Discount'"
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                            </td>

                            <td
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{item.total_tax_amount | currency : 'INR' : true : '1.2-2'}}</td>

                        </tr>

                        <tr style="background: #ffffff; border: #373737 1px solid; height: 30px;">
                            <td
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: bold; font-size: 15px; color: #000000; vertical-align: top;">
                                Total</td>

                            <td
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                            </td>

                            <td
                                style="text-align: center;padding: 4px; border-right:#373737 1px solid; font-weight: normal; font-size: 11px; color: #000000; vertical-align: top;">
                                {{printData?.total_amount | currency : 'INR' : true : '1.2-2'}}</td>
                        </tr>-->
        </table>
        <table style="width:960px; margin: auto;">



            <tr style="margin: 0px 0px; padding: 0px 0px;">
                <td colspan="2" style="text-align: center;color: #548235;font-size: 33px;font-weight: 600;padding: 15px 0px 0px 0px;">
                    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                        <tr style="background:#ffffff; border: transparent 1px solid;">
                            <td colspan="" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                                <!-- <div class="text1 text-capitalize"
                                                        style="color: #000; font-size: 17px; text-align: left; font-weight: bold; line-height: 25px; margin-bottom: 6px;">
                                                        Jurisdiction : {{printData?.jurisdiction}}</div> -->
                                <div class="text1" *ngIf="filteredTCs.length" style="color: #000; font-size: 17px; text-align: left; font-weight: bold; line-height: 25px; text-decoration: underline;">
                                    Terms & Conditions:</div>

                                    <table role="presentation" style="width: 100%;border-collapse: collapse;border: 0;border-spacing: 0;color: black;font-size: 11px;">
                                        <tr *ngFor="let tnc of filteredTCs; let i = index">
                                            <td>{{i+1}}.</td>
                                            <td>{{tnc?.key}}:</td>
                                            <td>{{tnc?.description}}</td>
                                        </tr>
                                    </table>
                               

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

            <tr>
                <td colspan="2" style="padding:0px 0px;">
                    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                        <!-- <tr style="background:#ffffff; border: transparent 1px solid;">
                                                <td colspan="12"
                                                    style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                                                    <div class="text1"
                                                        style="color: #000; font-size: 16px; text-align: left; font-weight: normal; line-height: 25px;">
                                                        <span
                                                            style="width:auto; font-weight: bold; float: left; margin-bottom: 11px;">Please
                                                            acknowledge the order & confirm acceptance.</span>
                                                    </div>
                                                </td>
                                            </tr> -->

                        <tr style="background:#ffffff; border: transparent 1px solid; margin-top: 22px;">
                            <td colspan="4" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                                <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                                </div>
                            </td>
                            <td colspan="4" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                                <div class="text1" *ngIf="printData?.approved_by_details" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                                    {{printData?.approved_by_details[0]?.first_name}} {{printData?.approved_by_details[0]?.last_name}}
                                </div>
                            </td>
                            <td colspan="4" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px; float: right;">
                                <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                                    {{printData?.created_by_details[0]?.first_name}} {{printData?.created_by_details[0]?.last_name}}
                                </div>
                            </td>
                        </tr>

                        <tr style="background:#ffffff; border: transparent 1px solid; margin-top: 22px;">
                            <td colspan="4" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                                <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                                    Authorised Signatory</div>
                            </td>
                            <td colspan="4" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px;">
                                <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                                    Approved By</div>
                            </td>
                            <td colspan="4" style="text-align: left;font-size: 15px;font-weight: 600;padding: 8px 0px; float: right;">
                                <div class="text1" style="color: #000; font-size: 15px; text-align: left; font-weight: normal; line-height: 25px;">
                                    Prepared By</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <br>
        <br>

    </div>
</div>